/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-25 16:08:05
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-07 21:23:53
 * @Description: file content
 */
@import 'assets/theme/color.less';

.claim-profit-item {
  width: 80%;
  margin: 16px auto;
}

.profit-item-key {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
.profit-item-value {
  color: @primary-color;
  font-size: 16px;
  display: inline-block;
}
