.proposal-contract-params {
  .ant-form-item-label {
    text-align: left;
  }
  .repeated-form {
    &-item {
      .ant-form-item-control-wrapper {
        .ant-form-item-children {
          display: flex;
          flex-flow: row nowrap;
        }
      }
    }
  }
}
