.history-pane {
  padding: 16px 24px 40px;
  .ant-steps-dot .ant-steps-item-icon .ant-steps-icon-dot,
  .ant-steps-dot.ant-steps-small .ant-steps-item-icon .ant-steps-icon-dot {
    width: 14px;
    height: 14px;
  }
  .ant-steps-item-process
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    border: 3px solid @headerbgColor4;
  }
  .ant-steps-item-wait
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    border: 3px solid @border-color2;
  }
  .ant-steps-dot .ant-steps-item-tail:after,
  .ant-steps-dot.ant-steps-small .ant-steps-item-tail:after {
    margin-left: 15px;
  }
  .ant-steps-item-title {
    display: flex;
    flex-direction: column;
    line-height: 22px !important;
    font-weight: 400;
    font-family: "Roboto Medium";
    margin-bottom: 16px;
    color: @mine-shaft !important;
    .ant-steps-item-subtitle {
      font-family: "Roboto";
      margin: 0;
      line-height: 20px;
      font-size: 12px;
      color: @gray;
    }
  }
  .ant-steps-item-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .description-item {
      color: @textContext1;
      span {
        display: inline-flex;
        width: 140px;
        margin-right: 16px;
      }
    }
  }
}
