.home-chain-info {
  .ant-card {
    &-head-title {
      color: #666;
      font-weight: 400;
    }
  }
  &-sub-title {
    color: #5c28a9;
    font-size: 14px;
  }
  &-text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }
  &-min-height {
    min-height: 280px;
  }
}
