@import "../../../assets/less/_variables.less";
.home-chain-info {
  .ant-card {
    &-head-title {
      color: #666;
      font-weight: 400;
    }
  }
  &-sub-title {
    color: @primary-blue;
    font-size: 14px;
  }
  &-text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 0;
  }
  &-min-height {
    min-height: 280px;
    height: 100%;
  }
}
