.real-time-transactions {
  .real-time-transactions-head {
    color: @bgMain;
    background: @bgBlankWhite;
    font-size: 16px;
    font-weight: 900;
  }

  .real-time-transactions-body {
    padding-top: 4px;
    color: @textContext;
    background: @bgBlankWhite;
    padding-bottom: 16px;
    min-height: 268px;

    .table-head {
      background-color: #e5e5e5;
      height: 30px;
      margin-bottom: 8px;
      color: @textContext;
      text-align: center;
      font-size: 12px;
    }

    .table-sell {
      color: @textContext;
      text-align: center;
      font-size: 12px;
      height: 20px;
      .sell {
        color: @sellColor;
      }
    }

    .table-buy {
      color: @textContext;
      text-align: center;
      font-size: 12px;
      height: 20px;
      .sell {
        color: @buyColor;
      }
    }
  }
}
