@import "../../../../assets/less/_variables.less";

.voting-module {
    margin: 0 56px;
}

.voting-module-head {
    font-size: 20px;
    color: #fff;

    .my-vote {
        border-bottom: 1px solid #fff;
        line-height: 26px;
        display: inline-block;
        cursor: pointer;
        margin: 0 10px;
    }

    .node-list {
        border-bottom: 1px solid #fff;
        line-height: 26px;
        display: inline-block;
        cursor: pointer;
        margin: 0 10px;
    }

    .voting-record {
        border-bottom: 1px solid #fff;
        line-height: 26px;
        display: inline-block;
        cursor: pointer;
        margin: 0 10px;
    }
}

.ant-table-placeholder {
    background: transparent;
    color: #fff;
    border: none;
}

.voting-module-moudle {
    color: #fff;
    text-align: center;
}

.vote-progress {
    width: 100%;

    .progress-out {
        height: 16px;
        border: 1px solid #fff;
        width: 100%;
        border-radius: 8px;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle
    }

    .progress-in {
        background: #fff;
        width: 0%;
        height: 16px;
    }
}


.refresh-animate {
    transition: All 4s infinite linear;
    transform: rotate(1440deg);
}


@media (max-width: 990px) {
    .voting-module {
        min-width: 960px;
        margin: 0 20px;
    }
       
}


.ant-modal-header {
    background: #470770;
    color: #fff;
    text-align: center;
    border: none;
    height: 50px;
    padding: 0;
    line-height: 50px;

    .ant-modal-title {
        color: #fff;
        font-size: 28px;
        line-height: inherit;
    }
}
.ant-modal-content {
    background: #4d097f;
}

.ant-modal-footer {
    border: none;

    .ant-btn {
        border-radius: 16px;
    }
}