.transaction-table {
  display: flex;
  background-color: @bgBlankWhite !important;
  overflow-x: scroll;
  padding-bottom: 16px;
  > .block {
    min-width: 16px;
    height: 45px;
    border-bottom: @border-color2 1px solid !important;
  }
  .ant-table-wrapper {
    width: calc(100% - 32px);
    thead {
      th {
        font-family: "Roboto-Medium";
        background: @bgBlankWhite !important;
        border-bottom: @border-color2 1px solid !important;
        font-weight: 400;
        &::before {
          display: none !important;
          width: 0 !important;
        }
        &:first-child {
          text-align: center;
        }
        &:last-child {
          text-align: right;
        }
        .time {
          cursor: pointer;
          .anticon {
            font-size: 12px;
            margin-left: 8px;
          }
        }
      }
    }
    tbody {
      tr {
        padding: 0 16px;
        overflow: hidden;
        td {
          border-bottom: none !important;
          &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
          &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
          .id {
            width: 161px;
            display: flex;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            .anticon {
              font-size: 24px;
              margin-right: 24px;
            }
            a {
              display: block;
              width: 113px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .method {
            width: 96px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .block {
            width: 71px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .time {
            min-width: 113px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .address {
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            a {
              display: block;
              width: 116px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            i {
              position: absolute;
              top: 3.5px;
              right: 0;
            }
          }
          .fee {
            width: 92px;
            text-align: right;
          }
        }
      }
    }
  }
}
.mobile {
  .transaction-table {
    padding: 0 16px;
    background: transparent;
    width: 100vw;
    overflow-x: scroll;
    margin-left: -20px;
    .ant-table-wrapper {
      min-width: 968px;
    }
  }
}
