@menuBtnActiveColor: rgba(255, 255, 255, 0.25);
@import 'assets/theme/color.less';
.resource-currency-chart {
  margin-bottom: 40px;
  .resource-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    line-height: 32px;
    &-title {
      height: 32px;
      line-height: 32px;
      display: flex;
      align-items: center;
    }
  }
  .time-button {
    margin-left: 8px;
    width: 72px;
    &.ant-btn-round.ant-btn-sm:not(.ant-btn-primary) {
      background-color: @bgBlankWhite;
      border: 1px solid @borderColor;
    }
  }
  .ant-divider.ant-divider-horizontal {
    margin: 0;
    margin-top: 20px;
  }
}

@media (min-width: 1600px) {
  .ant-col-xxl-16 {
    margin-left: 40px;
  }
}

@media (max-width: @smallScreenWidth) {
  .resource-currency-chart {
    overflow: scroll;
    margin-bottom: 20px;
  }

  .select-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0; // Remove default style
  }
}

@media screen and (max-width: 768px) {
  .resource-currency-chart {
    .resource-header {
      padding: 0;
    }
  }
}
