@import "../../../assets/less/_variables";

.election-notification {
  .statistical-data-content {
    padding: 0 16px;

    .ant-spin-nested-loading {
      border-bottom: 1px solid #e6e6e6;
    }
    .statistical-data-container {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}
