@import "../../assets/less/_variables.less";
.Voting-information {
    margin: 0 160px;
}

.vote-info-con {
    margin: 20px 0 20px 0;
    .vote-info-content-con {
        padding: 38px 0 64px 0;
    }
    .vote-info-title {
        font-size: 16px;
        text-align: center;
        color: #fff;
    }
    .vote-info-num {
        margin-top: 56px;
        font-size: 22px;
        color: #fff;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .vote-info-con {
        .vote-info-content-con {
            padding: 28px 0 54px 0;
        }
        .vote-info-title {
            font-size: 12px;
        }
        .vote-info-num {
            margin-top: 36px;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 992px) {
    .vote-info-con {
        .vote-info-content-con {
            padding: 28px 0 54px 0;
        }
        .vote-info-title {
            font-size: 12px;
        }
        .vote-info-num {
            margin-top: 36px;
            font-size: 14px;
        }
    }
    .Voting-information {
        margin: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .vote-info-con {
        .vote-info-content-con {
            padding: 28px 0 54px 0;
        }
        .vote-info-title {
            font-size: 12px;
        }
        .vote-info-num {
            margin-top: 36px;
            font-size: 22px;
        }
    }
}

.vote-box {
    background: linear-gradient(135deg, #0056ae, #080032);
    padding-top: 58px;
    padding-bottom: 52px;
    overflow-x: auto;
}