@import "../../assets/less/blockTxsDetail.less";

.block-detail-txs-title {
    color: #FFF;
}

.tx-block-detail-container {
    .ant-row {
        word-break: break-all;
        word-wrap: break-word;
        padding: 14px 0 14px 0;
        font-size: 14px;
        border-bottom: 1px solid @borderColor;
        &:last-child {
            border-bottom: none;
        }
    }
}
