.block-detail-container {
  h2 {
    font-family: "Roboto bold";
    font-weight: 400;
    font-size: 18px;
    color: @cloud-burst;
  }
  .block-height {
    font-family: "Roboto";
    margin-left: 8px;
    padding: 1px 9px 1px 8px !important;
    color: @scorpion !important;
    line-height: 22px;
    border-radius: 2px;
    background: white !important;
  }
  .jump-link {
    font-size: 10px;
    color: @mariner;
    display: inline-flex;
    gap: 16px;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border: 1px solid currentColor;
      border-radius: 2px;
    }
  }
  .ant-tag {
    border: none;
    padding: 1px 8px;
    font-size: 14px;
    background: @headerbgColor4;
    color: @mariner;
  }
  textarea {
    border-radius: 4px;
    border: none;
    background: @bgMenuItem;
    padding: 8px 12px;
    width: 100%;
    &:disabled {
      color: @scorpion;
      opacity: 1;
      -webkit-text-fill-color: @scorpion;
    }
  }
  .ant-tabs {
    margin-top: 16px;
    background: white;
    .ant-tabs-nav-wrap {
      padding: 1px 24px;
    }
  }
  .overview-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 8px 140px 64px;
    .wrap {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
      border-bottom: 1px solid @border-color2;
      row-gap: 16px;
      &:last-of-type {
        border: none;
      }
      .row {
        display: flex;
        line-height: 22px;
        min-height: 22px;
        column-gap: 24px;
        .label {
          min-width: 200px;
          color: @mine-shaft;
          text-align: right;
          font-family: "Roboto-Medium";
          font-size: 14px;
        }
        .value {
          width: 100%;
          color: @scorpion;
          word-break: break-all;
          .value-height {
            .ant-tag {
              margin-left: 8px;
            }
          }
          .value-timestamp {
            display: flex;
            align-items: center;
            .anticon {
              margin-right: 8px;
            }
          }
          .value-address {
            display: flex;
            .anticon {
              margin-left: 8px;
            }
            .ant-tag {
              margin-left: 16px;
            }
          }
        }
      }
    }
    .show-more-btn {
      display: flex;
      padding: 0;
      margin-left: 230px;
      align-items: center;
      width: fit-content;
      &:focus,
      &:hover {
        color: @mariner !important;
      }
      &.less {
        .anticon {
          transform: rotate(180deg);
        }
      }
    }
  }
  .transactions-container {
    .block-table {
      display: flex;
      background: @bgBlankWhite;
      > .block {
        width: 16px;
        height: 44px;
        border-bottom: @border-color2 1px solid !important;
      }
      .ant-table-wrapper {
        width: calc(100% - 32px);
        thead {
          th {
            font-family: "Roboto-Medium";
            background: @bgBlankWhite !important;
            border-bottom: @border-color2 1px solid !important;
            font-weight: 400;
            &::before {
              display: none !important;
              width: 0 !important;
            }
            &:last-child {
              text-align: right;
            }
            .time {
              cursor: pointer;
              .anticon {
                font-size: 12px;
                margin-left: 8px;
              }
            }
          }
        }
        tbody {
          tr {
            padding: 0 16px;
            overflow: hidden;
            td {
              border-bottom: none !important;
              &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
              }
              &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
              }
              .height {
                width: 71px;
                display: flex;
                align-items: center;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                  display: block;
                  width: 113px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
              .block {
                width: 71px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .time {
                min-width: 113px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .address {
                width: 120px;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                  display: block;
                  width: 120px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
              .reward {
                text-align: right;
              }
            }
          }
        }
      }
    }
    .after-table {
      padding-top: 16px;
      background: @bgBlankGrey;
      .ant-pagination-options {
        position: absolute;
        border: none;
        left: 0;
        margin-left: 0;
        &::before,
        &::after {
          font-size: 14px;
          margin-right: 8px;
          line-height: 32px;
        }
        &::before {
          content: "Show";
        }
        &::after {
          content: "records";
        }
      }
    }
  }
}

.block-detail-container.mobile {
  padding-bottom: 32px !important;
  .overview-container {
    padding: 10px 16px;
    .wrap {
      row-gap: 24px;
      .row {
        flex-direction: column;
        row-gap: 6px;
        .label {
          text-align: left;
          color: @mine-shaft;
        }
        .value {
          overflow-wrap: anywhere;
          .value-address {
            display: flex;
            flex-direction: column;
            .ant-tag {
              width: fit-content;
              margin: 0;
              margin-top: 9px;
            }
          }
          .value-timestamp {
            align-items: baseline;
            .anticon {
              line-height: 22px;
            }
          }
        }
      }
    }
    .show-more-btn {
      margin-left: 0;
      margin-top: -8px;
      margin-bottom: 54px;
    }
  }
  .transactions-container {
    .after-table {
      display: flex;
      .ant-pagination {
        width: 100%;
        justify-content: flex-start;
        height: 76px;
      }
      .ant-pagination-options {
        display: flex;
        border: none;
        align-items: center;
        top: 0;
        &::before {
          content: "Show";
          font-size: 14px;
          margin-right: 8px;
        }
        &::after {
          content: "records";
          font-size: 14px;
          margin-left: 8px;
        }
      }
    }
  }
}
