{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "cjs"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "lodash",
      {
        "id": [
          "lodash"
        ]
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ]
}
