<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description"
    content="aelf explorer enables users to keep track of all the on-chain activities on aelf network, including real-time block data, transaction history, addresses, proposals, election results, etc.">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
</head>

<body>
  <div id="app" class="aelf-app"></div>
</body>

</html>