.resource-wallet {
  a {
    color: @purple;
  }
  .ant-divider.ant-divider-horizontal {
    margin: 17px 0;
  }
  &-address {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &-name {
      font-weight: bold;
    }
    &-update:hover, &-update:active, &-update:focus {
      color: @purpleHover;
    }
  }
  &-info {
    .ant-row-flex {
      .ant-col {
        margin-bottom: 25px;
      }
      .last-col {
        margin-bottom: 0;
      }
    }
    &-name {
      color: #4C4C4C;
      width: 180px;
      display: inline-block;
    }
    .balance {
      font-weight: bold;
      color: @textContext
    }
  }
}
