@import "../../assets/less/_variables.less";
.AElf-button {
    background: @bgMain;
    color: #FFF;
    //border-radius: 16px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    padding: 4px 19px;
    margin: 0 10px;
    &:hover {
        background: @bgMainHover;
    }
}
