@import "../../assets/less/_variables.less";
.AElf-button {
    background: #26b8fe;
    color: #fff;
    border-radius: 16px;
    display: inline-block;
    cursor: pointer;
    padding: 4px 19px;
    margin: 0 10px;
}