@import "../../assets/less/blockTxsDetail.less";

.tx-detail-row {
  padding: 5px 16px;
  .text-ellipsis {
    white-space: normal;
    .gap-bottom {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: @smallScreenWidth) {
  .tx-detail-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
.tx-block-detail-container {
  .ant-row {
    word-break: break-all;
    word-wrap: break-word;
    padding: 14px 0 14px 0;
    font-size: 14px;
    border-bottom: 1px solid @borderColor;
    &:last-child {
      border-bottom: none;
    }
  }
}
