/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-12-09 16:54:34
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 17:19:06
 * @Description: file content
 */
@import 'assets/theme/color.less';

.election-rule-card {
  //margin-bottom: 20px;
  //padding: 40px 100px;
  //padding: 20px 57px;
  background: @bgBlankWhite;
  .election-intro {
    //text-indent: 40px;
    color: @textContext;
    font-size: 14px;
    //margin-bottom: 60px;
  }
  .election-container {
    padding: 20px 57px;
    .view-plan-link {
      text-decoration: underline;
      margin-left: 30px;
    }
  }
  .election-header-title {
    background: @bgBlankWhite;
    padding: 30px 57px 20px;
    overflow: hidden;
    border-bottom: 1px solid @borderColor;
  }
  .btn-group {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 10px 0;
    .view-node-election-plan-btn {
      a {
        color: @textContext;
        font-size: 14px;
      }
    }
    .apply-to-be-a-node-btn {
      height: 32px;
      width: 320px;
      background: @bgMain;
      border: none;
      border-radius: 5px;
      margin-top: 16px;
      &:hover {
        background: @bgMainHover;
      }
      a:hover {
        color: #fff !important;
      }
    }

    .quit-button {
      cursor: pointer;
      color: @primary-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 12px 0 0 0;
      .quit-logo {
        display: inline-block;
        height: 18px;
        width: 18px;
        margin: 0 0 0 4px;
      }
    }
  }
}

@media (max-width: @smallScreenWidth) {
  .ant-modal .ant-form {
    width: 100%;
  }
  .election-rule-card {
    padding: 20px 16px;
    .election-header-title {
      padding: 20px;
    }
    .election-container {
      padding: 20px;
      .view-plan-link {
        display: block;
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
      }
    }
    .election-intro {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}
