@import "../../assets/less/_variables";
.search-banner-container {
  text-align: center;
  height: 205px;
  .search-banner {
    margin: auto;
    max-width: 610px;

    text-align: center;
    h2{
      font-size: 28px;
      margin: 0;
      font-weight: 700;
      color: @textContext;
    }
    h3{
      font-size: 20px;
      margin: 0 0 28px 0;
      font-weight: 400;
      color: @textContext;
    }

    .header-search {
      width: 559px;
      border: 1px solid #999;
      .ant-input {
        background: #FFF;
        color: @textContext;
      }
    }

  }
}

@media screen and (max-width: 768px){
  .search-banner-container {
    height: auto;
    .search-banner-text {
      display: none;
    }
  }
}
