.txs-page-container {
  padding-top: 24px;
  h2 {
    font-size: 18px;
    font-family: "Roboto Bold";
    margin-bottom: 16px;
    color: @cloud-burst;
  }

  .before-table {
    .right {
      padding-top: 8px;
    }
  }
}
