@import "../../assets/less/_variables.less";
.txs-page-container {
  //min-width: @minWidth;
  .ant-table table {
    word-break: break-all;
    word-wrap: break-word;
  }
  .tooltip {
    .ant-tooltip-inner {
      color: black;
    }
  }
}
@media only screen and (max-width: 576px) {
  .ant-pagination-options {
    display: inline-block;
    margin-top: 5px;
  }
}
