.only-ok-modal {
  width: 720px;
  .ant-modal-content {
    border-radius: 8px;
    .ant-modal-body {
      .ant-modal-confirm-title {
        margin: 24px 0;
      }
      .ant-modal-confirm-btns {
        display: flex;
        .ant-btn {
          width: 240px;
          height: 40px;
          margin: 32px auto 0;
        }
      }
    }
  }
}
.only-ok-modal-mobile {
  .ant-modal-content {
    border-radius: 8px;
    .ant-modal-body {
      margin: 40px 16px 32px;
      .ant-modal-confirm-btns {
        display: flex;
        .ant-btn {
          width: 240px;
          height: 40px;
          margin: 16px auto 0;
        }
      }
    }
  }
}
