.only-ok-modal {
  width: 680px;
  .ant-modal-content {
    border-radius: 4px;
    line-height: 20px;
    .ant-modal-body {
      padding-top: 30px;
      padding-bottom: 26px;
      display: flex;
      justify-content: center;
      .ant-modal-confirm-title {
        margin: auto;
      }
      .ant-modal-confirm-content {
        margin-top: 0;
      }
      .ant-modal-confirm-btns {
        display: flex;
        margin-top: 0;
        .ant-btn {
          width: 182px;
          height: 37px;
          margin: 62px auto 0;
          border-radius: 4px;
          background-color: rgba(120, 102, 222, 1);
        }
      }
    }
  }
}
.only-ok-modal-mobile {
  padding: 0 8px 24px;
  .ant-modal-content {
    border-radius: 8px;
    .ant-modal-body {
      margin: 40px 16px 32px;
      .ant-modal-confirm-btns {
        display: flex;
        .ant-btn {
          width: 240px;
          height: 40px;
          margin: 16px auto 0;
        }
      }
    }
  }
}
