.only-ok-modal {
  width: 720px;
  .ant-modal-body {
    height: 204px;
    .ant-modal-confirm-title {
      margin: 24px 0;
    }
    .ant-modal-confirm-btns {
      display: flex;
      .ant-btn {
        width: 240px;
        height: 40px;
        margin: 32px auto 0;
      }
    }
  }
}
