.election-rule-card {
  margin-bottom: 20px;
  padding: 40px 100px;
  background: rgba(57, 0, 57, 0.3);

  .election-intro {
    text-indent: 40px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 60px;
  }
  .btn-group {
    position: relative;
    overflow: hidden;
    .view-node-election-plan-btn {
      a {
        color: @gold;
        font-size: 16px;
      }
    }
    .apply-to-be-a-node-btn {
      float: right;
      bottom: 0;
      right: 0;
    }
  }
}

@media (max-width: @smallScreenWidth) {
  .election-rule-card {
    padding: 20px 16px;
    .election-intro {
      font-size: 14px;
      margin-bottom: 20px;
    }
    .btn-group {
      .view-node-election-plan-btn {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
}
