/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-12-09 16:54:34
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 17:19:06
 * @Description: file content
 */
.election-rule-card {
  background: @bgBlankWhite;
  padding: 16px 16px 0;

  .election-rule-content {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 16px;
  }
  .election-intro {
    color: @mine-shaft;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 8px;
  }
  .election-container {
    padding: 8px 0 0;
    .view-plan-link {
      text-decoration: underline;
      margin-left: 30px;
    }
  }
  .election-header-title {
    background: @bgBlankWhite;
    padding: 8px 0 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    .anticon {
      svg {
        display: flex;
        width: 12px;
        height: 12px;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
      }
    }
  }
  .btn-group {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 8px 0;
    .view-node-election-plan-btn {
      a {
        color: @textContext;
        font-size: 14px;
      }
    }
    .apply-to-be-a-node-btn {
      height: 32px;
      background: @bgMain;
      border: none;
      border-radius: 4px;
      height: 40px;
      padding: 0px 20px;
      &:hover {
        background: @bgMainHover;
      }
      a:hover {
        color: #fff !important;
      }
    }

    .quit-button {
      cursor: pointer;
      color: @primary-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 12px 0 0 0;
      .quit-logo {
        display: inline-block;
        height: 18px;
        width: 18px;
        margin: 0 0 0 4px;
      }
    }
  }
}

@media (max-width: @xsScreenWidth) {
  .apply-to-be-a-node-btn {
    width: 100%;
  }
}
