@import "../../../../assets/less/_variables";
.election-rule-card {
  //margin-bottom: 20px;
  //padding: 40px 100px;
  //padding: 20px 57px;
  background: @bgBlankWhite;

  .election-intro {
    //text-indent: 40px;
    color: @textContext;
    font-size: 14px;
    //margin-bottom: 60px;
  }

  .election-container {
    padding: 20px 57px;
    .view-plan-link {
      text-decoration: underline;
      margin-left: 30px;
    }
  }

  .election-header-title {
    background: @bgBlankWhite;
    padding: 8px 57px;
    overflow: hidden;
    border-bottom: 1px solid @borderColor;
  }
  .btn-group {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 10px 0;
    .view-node-election-plan-btn {
      a {
        color: @textContext;
        font-size: 14px;
      }
    }
    .apply-to-be-a-node-btn {
      height: 32px;
      width: 320px;
      background: @bgMain;
      border: none;
      border-radius: 5px;
      margin-top: 16px;
      &:hover {
        background: @bgMainHover;
      }
      a:hover {
        color: #FFF !important;
      }
    }
  }
}

@media (max-width: @smallScreenWidth) {
  .election-rule-card {
    padding: 20px 16px;
    .election-intro {
      font-size: 12px;
      margin-bottom: 20px;
    }
    .btn-group {
      .view-node-election-plan-btn {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
}
