.my-proposal {
  &-content {
    position: relative;
    &-filter {
      max-width: 400px;
      right: 0;
      position: absolute;
      .ant-btn {
        background-color: #fff;
        border: 1px solid #d9d9d9;
      }
    }
    &-list {
      padding-top: 48px;
    }
  }
}
