/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-10-23 16:09:44
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 17:57:00
 * @Description: file content
 */
.statistical-data {
  &-container {
    position: relative;
    display: grid;
    padding: 24px 16px 8px;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    margin-bottom: 8px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: 0;
    }
    .ant-statistic {
      text-align: center;
      border-right: 1px solid #e6e6e6;
      padding: 0 16px;
      &:last-child {
        border-right: 0;
      }
      .ant-statistic-title {
        color: @gray;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ant-statistic-content {
        font-size: 20px;
        color: @mine-shaft;
        font-weight: 500;
        .ant-statistic-content-value-decimal {
          font-size: 16px;
        }
      }
    }
    .ant-row {
      .ant-col {
        text-align: center;
      }
    }

    .anticon {
      margin-left: 4px;
      svg {
        width: 12px;
        height: 12px;
      }

      // position: absolute;
      // right: 2%;
      // top: 20%;
      // color: #ccc;
    }
    &.inline-style {
      .ant-statistic {
        // todo: The reason to set fixed height here:
        // todo: It's hard to realize the horizontal arragement with vertical align center in current mode. If you have to, try flex with the selector :before
        height: 60px;
        line-height: 60px;
        .ant-statistic-title {
          display: inline;
        }
        .ant-statistic-content {
          display: inline;
          margin-left: 5px;
        }
      }
    }
  }
  // &-words {
  //   color: #999;
  //   font-size: 16px;
  // }
  // &-number {
  //   color: #fff;
  //   font-size: 35px;
  // }
}
@media (max-width: @lgScreenWidth) {
  .statistical-data-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    .ant-statistic {
      border: 0;
    }
  }
}
@media (max-width: @xsScreenWidth) {
  .statistical-data-container {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    .ant-statistic {
      border: 0;
      text-align: left;
      .ant-statistic-title {
        justify-content: flex-start;
      }
    }
  }
}
