.modal {
    width: 100%;

    .display-box {
        font-size: 12px;
        text-align: center;
        color: #000;
        background: #fff;
        height: 34px;
        line-height: 34px;
        border-radius: 16px;
        margin-bottom: 22px;
        overflow: hidden;
    }

    .service-charge {
        text-align: right;
    }

    .service-charge {
        font-size: 12px;
        color: #fff
    }

    .modal-button {
        height: 32px;
        line-height: 32px;
        color: #fff;
        font-size: 14px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 24px;
    }

    .modal-tip {
        font-size: 12px;
        color: #fff;
        width: 80%;
        margin: 10px auto;
    }
}