@import "../../assets/less/_variables.less";

.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: @maxWidth;
  margin: 20px auto 0 auto;
  line-height: 62px;
  padding: 0 20px 0 20px;
  background: @bgBlankWhite;
  border-bottom: 1px solid @borderColor;

  .breadcrumb-title {
    margin: 0;
    color: @textContext;
  }
  .breadcrumb-small-title {
    font-size: 28px;
  }

  .breadcrumb-sub-title {
    color: @subTitle;
    font-size: 16px;
    font-weight: 200;
    margin-left: 8px;
  }

  .ant-breadcrumb a{
    color: @textContext !important;
  }
  .ant-breadcrumb a:hover {
    color: @hoverColor !important;
  }
  .ant-breadcrumb-separator {
    color: @textContext !important;
  }

  .current-title {
    color: @hoverColor;
  }
}

@media screen and (max-width: 768px){
  .breadcrumb {
    padding: 16px;
    //margin: 0 8px;
  }
  .breadcrumb-title {
    display: none;
  }
}
