@import '../../assets/less/_variables.less';
.home-basic-information {
  height: 100%;
  .home-basic-title-con {
    margin: 18px 0 0 0;
    height: 36px;
    //color: #fff;
    color: @textContext;
    font-size: 16px;
    font-weight: 300;
    .TPSChart-title {
      font-size: 24px;
      display: inline-block;
      margin-left: 50px;
      font-weight: 500;
    }
    .TPSChart-text {
      display: inline-block;
      margin-right: 24px;
    }
  }
  .conri-center-content.conri-center-content-large {
    width: 100%;
  }
  .home-basic-info-con {
    margin: 10px 0 10px 0;
  }
  .home-basic-info-content-con {
    height: 137px;
    //color: #fff;
    color: @textContext;
    padding: 16px;
  }
  .home-basic-info-title {
    color: #666;
    font-size: 20px;
    font-weight: 200;
    white-space: nowrap;
    text-align: center;
  }
  .home-basic-info-num {
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    font-weight: 500;
  }
}

//.home-bg-earth {
//  min-height: 866px;
//  background-image: url('../../assets/images/bg@1x.jpg');
//  background-repeat: no-repeat;
//  background-size: 100% 100%;
//}

.home-bg-grey {
  //min-height: 866px;
  background: @bgBlankGrey;
}

@media screen and (max-width: 768px) {
  .home-bg-grey {
    background: @bgBlankWhite;
  }
}

.home-bg-white {
  //min-height: 866px;
  background: @bgBlankWhite;
  padding: 56px 0 56px 0;
}

//.home-bg-blue {
//  background-image: url('../../assets/images/bg_blue@1x.jpg');
//  background-repeat: no-repeat;
//  background-size: 100% 100%;
//  padding: 56px 0 56px 0;
//}

.home-header-blank {
  height: 128px;
}


// start
.home-blocksInfo-title {
  height: 50px;
  //background-color: rgba(57, 0, 57, 0.3);
  background-color: @bgBlankGrey;
  //border: 1px solid @borderColor;
  padding: 0 15px 0 15px;
}

.home-blocksInfo-list-con {
  //background-color: rgba(57, 0, 57, 0.15);
  background-color: @bgBlankWhite;
  border-left: 1px solid @borderColor;
  border-bottom: 1px solid @borderColor;
  border-right: 1px solid @borderColor;
}

.blocks-list-container {
  height: 50px;
  //border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid @borderColor;
  margin: 0 15px 0 15px;
  &:last-child {
    border: none;
  }
  .ant-col-8 {
    overflow: hidden;
  }
}

// end
.content-container {
  margin-left: -15px;
  margin-right: -15px; //.ant-col-12 {
  //  padding-left: 15px;
  //  padding-right: 15px;
  //}
  .container-list {
    overflow: hidden;
    color: #c7b8cc;
    div,
    a {
      text-align: center;
      color: @textContext;
    }
    a:hover {
      color:@linkHover;
    }
  }
  .ant-list {
    height: 745px;
  }
  .panel-heading {
    display: flex; //color: #222;
    color: #fff; //background: @bgWhite;
    //padding: 7px 15px; //border: 1px solid #eee;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 32px 0;
    .panel-title {
      margin: 0;
      padding: 0;
      font-size: 24px;
      line-height: 24px;
      color: #000;
      //color: #fff;
      text-align: left;
      .anticon {
        margin-right: 5px;
        font-size: 16px;
        line-height: 16px;
      }
      .panel-subtitle {
        display: inline-block;
        font-size: 16px;
      }
    }
    .pannel-btn {
      //color: #555;
      color: #fff;
      //background-color: #26b7ff;
      background-color: @bgMain;
      border-radius: 20px;
      padding: 5px 13px; //border: 1px solid transparent;
      transition: all 0.1s ease-in-out;
      max-height: 26px;
      min-width: 78px;
      font-size: 14px;
      line-height: 14px;
      &:hover {
        color: #fff !important;
        opacity: 0.8; //background: #333;
      }
    }
  }
  .fade-enter {
    opacity: 0.01;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
  }
}

.first-page-sub-container {
  background: #FFF;
  //&:first-child {
  margin-bottom: 28px;
  //}
  //height: 320px;
  //max-height: 320px;
}
.first-page-sub-container.chain-info {
  padding: 0;
  background: transparent;
}

.gap-bottom {
  margin-bottom: 12px;
}

.flex-column {
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .flex-column-reverse-mobile {
    flex-direction: column-reverse;
  }
  .first-page-sub-container {
    margin-bottom: 8px;
  }
}


@media screen and (max-width: 1600px) {
  .home-basic-info-content-con {
    .home-basic-info-title {
      font-size: 16px;
    }
    .home-basic-info-num {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .home-basic-info-content-con {
    .home-basic-info-title {
      //font-size: 14px;
      font-size: 16px;
    }
    .home-basic-info-num {
      //font-size: 22px;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-basic-info-content-con {
    .home-basic-info-title {
      font-size: 14px;
    }
    .home-basic-info-num {
      //font-size: 18px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-header-blank {
    height: 144px;
  }
  .home-bg-white {
    padding: 8px 0 8px 0;
  }
  .home-basic-information {
    .home-basic-title-con {
      //margin: 16px 0 0 0;
      //color: #fff;
      margin-top: 0;
      color: @textContext;
      font-size: 14px;
      font-weight: 700;
      .TPSChart-title {
        //font-weight: 700;
        font-size: 24px;
        display: inline-block;
        margin-right: 16px;
      }
      .TPSChart-text {
        display: inline-block;
        margin-right: 8px;
      }
    }
    .home-basic-info-content-con {
      height: 100px;
      //color: #fff;
      color: @textContext;
      padding: 8px;
    }
    .home-basic-info-title {
      font-size: 12px;
      font-weight: normal;
    }
    .home-basic-info-num {
      font-size: 16px;
      line-height: 80px;
      border-bottom: 1px solid @borderColor;
    }
  }
  .home-bg-earth {
    background-size: cover;
  }

  .content-container {
    .container-list {
      margin-bottom: 40px;
    }

    .panel-heading {
      padding: 6px;
      .panel-title {
        font-size: 20px;
        .panel-subtitle {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .home-bg-white {
    padding: 0;
  }
  .blocks-list-container {
    font-size: 11px;
  }
  .home-blocksInfo-title {
    padding: 0 4px;
  }
  .blocks-list-container {
    margin: 0 4px;
  }
}// @media end

@media screen and (min-width: 992px) {
  .first-page-sub-container {
    .home-basic-info-con {
      width: 20%;
    }
  }
}
