@import "../../assets/less/_variables.less";

.home-container {
  max-width: 1200px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
  .banner-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px 0;
    height: 184px;
    background: url(../../assets/images/banner_pc.png) no-repeat center;
    background-size: 964px;
    h2 {
      text-align: center;
      font-family: "Roboto Bold";
      font-size: 24px;
      color: @cloud-burst;
    }
    .new-search {
      position: relative;
      background: white;
      display: flex;
      align-items: center;
      width: 728px;
      padding: 4px;
      border: 1.6px solid @mariner;
      border-radius: 6px;
      .ant-select {
        min-width: 107px;
        height: 24px;
        * {
          outline: none !important;
          box-shadow: none !important;
        }
        .ant-select-selection {
          border: none;
          border-radius: 0;
          border-right: 1px solid @border-color2;
          height: 24px;
          .ant-select-selection-selected-value {
            line-height: 22px;
          }
        }
      }
      .ant-select-dropdown {
        top: 54px !important;
      }
      .ant-input {
        border: none;
        &:focus {
          box-shadow: none;
        }
      }
      .ant-btn {
        width: 56px;
        height: 40px;
      }
    }
  }
  .body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    .info-section {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      background: white;
      border-radius: 8px;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.03);
      padding: 12px 20px;
      .card {
        display: flex;
        gap: 22px;
        width: 312px;
        height: 100px;
        padding: 26px 24px;
        .left {
          .anticon {
            font-size: 48px;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          gap: 4px;
          .label {
            line-height: 22px;
            color: @gray;
          }
          .value {
            font-size: 20px;
            line-height: 28px;
            color: @mine-shaft;
            font-family: "Roboto Medium";
          }
        }
      }
    }
    .latest-section {
      width: 100%;
      max-height: 497px;
      .latest-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 32px;
        .blocks,
        .transactions {
          flex: 1;
          background: white;
          border-radius: 8px;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.03);
          .title {
            display: flex;
            justify-content: space-between;
            padding: 16px 22px 16px 24px;
            h3 {
              font-weight: 400;
              font-family: "Roboto-Medium";
              font-size: 16px;
              color: @cloud-burst;
            }
            a {
              line-height: 22px;
              .anticon {
                margin-left: 6px;
              }
            }
          }
          .table-header {
            display: flex;
            gap: 16px;
            padding: 8px 24px;
            border-bottom: 1px solid @border-color2;
            line-height: 20px;
            font-size: 12px;
            color: @mine-shaft;
            font-family: "Roboto Medium";
          }
          .table-body {
            display: flex;
            flex-direction: column;
            padding: 8px 16px 0;
            height: 392px;
            margin-bottom: 12px;
            overflow-y: scroll;
            white-space: nowrap;
            .row {
              display: flex;
              padding: 13px 8px;
              color: @scorpion;
              gap: 16px;
              border-radius: 4px;
              &:hover {
                background: #f7f8fa;
              }
            }
          }
        }
        .blocks {
          .block {
            flex: 126;
          }
          .age {
            flex: 160;
          }
          .txns {
            flex: 100;
          }
          .reward {
            flex: 102;
            text-align: right;
          }
        }
        .transactions {
          .hash {
            flex: 133;
            max-width: 133px;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
          .from {
            flex: 103;
            max-width: 103px;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
          .to {
            flex: 126;
            max-width: 126px;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
          .age {
            flex: 126;
            text-align: right;
          }
        }
        .row {
          .hash,
          .from,
          .to {
            color: @mariner;
          }
        }
      }
    }
    .chart-section {
      background: white;
      padding: 0 24px 24px;
      border-radius: 8px;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.03);
      h3 {
        padding: 16px 0;
        font-size: 16px;
        font-family: "Roboto Medium";
        font-weight: 400;
        color: @cloud-burst;
        line-height: 24px;
      }
    }
  }
}

.home-container.mobile {
  padding-bottom: 80px !important;
  .banner-section {
    height: 181px;
    padding: 35px 16px 0;
    gap: 8px;
    background: url(../../assets/images/banner_mobile.png) no-repeat center 0;
    background-size: 100vw;
    h2 {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
    }
    .new-search {
      width: 100%;
      .ant-select {
        font-size: 12px;
      }
    }
    .price-info {
      display: flex;
      align-items: center;
      align-self: flex-start;
      padding: 3px 5px;
      img {
        width: 22px;
        height: 22px;
        margin-right: 6px;
      }
      .price {
        color: @textContext1;
        margin-right: 8px;
      }
      .range {
        &.rise {
          color: @jade;
        }
        &.fall {
          color: @sunset-orange;
        }
      }
    }
  }
  .body-container {
    padding: 0 16px;
    gap: 16px;
    .info-section {
      height: 446px;
      flex-direction: column;
      padding: 12px 4px 16px;
      column-gap: 9px;
      row-gap: 8px;
      .card {
        padding: 12px 8px;
        gap: 16px;
        align-items: center;
        width: calc(50% - 4.5px);
        height: 134px;
        flex-direction: column;
        .left {
          height: 40px;
          .anticon {
            font-size: 40px;
          }
        }
        .right {
          .value,
          .label {
            text-align: center;
          }
          .value {
            font-size: 18px;
          }
        }
      }
    }
    .latest-section {
      max-height: fit-content;
      .latest-info {
        flex-direction: column;
        .title {
          h3 {
            font-size: 14px;
          }
        }
        .table-header {
          font-size: 12px;
        }
        .transactions {
          .mobile-scroll {
            overflow: scroll;
          }
          .title {
            position: sticky;
            left: 0;
            padding: 13px 16px;
          }
          .table-header,
          .table-body {
            min-width: 347px;
          }
        }
        .blocks {
          .mobile-scroll {
            overflow: scroll;
          }
          .block {
            flex: 80;
          }
          .age {
            flex: 88;
          }
          .txns {
            flex: 30;
          }
          .reward {
            flex: 97;
          }
          .table-header,
          .table-body {
            min-width: 480px;
          }
        }
        .table-footer {
          padding: 8px 0 12px;
          text-align: center;
          font-size: 12px;
          position: sticky;
          left: 0;
        }
      }
    }
    .chart-section {
      padding: 0 16px 16px;
      h3 {
        padding: 13px 0;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 8px;
      }
    }
  }
}
