@menuBtnColor: rgba(255, 255, 255, 0.25);

.resource-market-body {
  margin: 0 56px;
}

.resource-head {
  height: 50px;
  line-height: 50px;
  background: @cardHeaderColor;
  color: #fff;
  font-size: 16px;
  text-indent: 30px;
}

.resource-body {
  padding: 62px 42px;
  background-size: 100% 100%;
  .resource-market-body {
    background: @cardBodyColor;
  }
}

.menu-button {
  height: 76px;
  font-size: 22px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  line-height: 76px;
  background: @cardHeaderColor;
  border-radius: 38px;
  cursor: pointer;
  &.active {
    background: @menuBtnColor;
  }
}

@media screen and (max-width: 992px) {
  .resource-market-body {
    margin: 20px;
  }
  .resource-body {
    padding: 0 0;
  }
}
