@import "../../assets/less/_variables.less";

.AElf-Wallet {
    margin: 44px 160px;
    .AElf-Wallet-head {
        height: 50px;
        line-height: 50px;
        background: #4a0873;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .AElf-Wallet-title {
        padding-left: 28px;
        color: #fff;
        float: left;
    }

    .AElf-Wallet-create {
        line-height: 28px;
        margin-top: 6px;
    }
    .AElf-Wallet-body {
        background: rgba(57, 0, 77, 0.3);

        .wallet-name {
            font-size: 16px;
            color: #fff;
        }
    }
}

.AElf-Wallet-name {
    padding: 46px 0 56px 28px;
}

.AElf-Wallet-Row {
    margin-bottom: 24px;
}

.AElf-Wallet .ant-radio-group {
    width: 100%;
}
.AElf-Wallet .ant-radio-wrapper {
    display: block;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.wallet-button-box {
    margin-bottom: 15px;
}

.wallet-button-box:nth-last-child(1) {
    margin-bottom: 0;
}

.AElf-Wallet .ant-radio-wrapper:nth-last-child(1) {
    margin-bottom: 0;
}

.AElf-Wallet .ant-radio-checked .ant-radio-inner {
    border-color: #618c01;
}

.AElf-Wallet .ant-radio-inner:after {
    background: #618c01;
}

.wallet-name {
    text-indent: 17px;
    display: inline-block;
}

.AElf-Wallet-info {
    padding: 46px 0 56px 28px;
    color: #fff;
    font-size: 16px;
    // border-left: 1px solid #76399c;

    .total-assets {
        color: #e09d1b;
    }

    .total-votes {
        color: #e09d1b;
    }

    .pending-dividend {
        color: #e09d1b;
    }
}

.AElf-Wallet-info .ant-row-flex {
    margin-bottom: 15px;
}
@media (min-width: 1600px) {
    .ant-radio-wrapper {
        height: 29px !important;
        font-size: 16px;
    }

    .wallet-button-box {
        height: 29px !important;
        font-size: 16px;
    }

    .AElf-Wallet-info {
        border-left: none;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .ant-radio-wrapper {
        height: 50px;
        font-size: 14px;
    }

    .wallet-button-box {
        height: 50px;
        font-size: 14px;
    }

    .AElf-Wallet-info {
        border-left: none;
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .AElf-Wallet .AElf-Wallet-body .wallet-name {
        text-indent: 0;
        font-size: 14px;
    }

    .ant-radio-wrapper {
        height: 50px;
        font-size: 14px;
    }

    .wallet-button-box {
        height: 50px;
        font-size: 14px;
    }

    .AElf-Wallet-info {
        border-left: none;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .AElf-Wallet {
        margin: 44px 20px;
    }
    
    .AElf-Wallet-name {
        padding: 46px 0 56px 12px;
    }

    .AElf-Wallet .AElf-Wallet-body .wallet-name {
        text-indent: 0;
        font-size: 14px;
    }

    .ant-radio-wrapper {
        height: 50px;
        font-size: 14px;
    }

    .wallet-button-box {
        height: 50px;
        font-size: 14px;
    }

    .AElf-Wallet-info {
        border-left: none;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .ant-radio-wrapper {
        height: 62px;
        font-size: 12px;
    }

    .AElf-Wallet .AElf-Wallet-body .wallet-name {
        text-indent: 0;
        font-size: 12px;
    }

    .wallet-button-box {
        height: 62px;
        font-size: 12px;
    }

    .AElf-Wallet-info {
        border-left: none;
        font-size: 12px;
    }
}