


@import url("tailwindcss/base");

@import url("tailwindcss/components");
@import url("./search.css");
@import url("./nft-details.css");
@import url("./not-found.css");

@import url("tailwindcss/utilities");


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  @apply h-full w-full;
}
body {
  @apply lg:min-w-[768px] bg-F7 select-none relative h-full w-full overflow-x-hidden overflow-y-auto;
  .explorer-dropdown-menu{
    .explorer-dropdown-menu-item{
      @apply !text-xs !leading-20 !text-base-100 !px-2 !py-[6px];
      &:hover{
        @apply !bg-[#D8DDE5]
      }
    }
    .explorer-dropdown-menu-item-selected{
      @apply !text-link;
    }
  }
}



@layer utilities {
  .font10px {
    font-size:12px;
    zoom:0.83
  }
  .view-button {
    @apply !w-8 !h-8 !box-border !rounded !border-D0 !bg-white;
  }
  .view-button:hover {
    @apply !bg-32 !border-32;
    svg {
      @apply !text-white;
    }
  }
  .view-button:active {
    @apply !bg-button_active  !border-button_active;
    svg {
      @apply !text-white;
    }
  }
}

