@import "../../../../common/index.less";
@import "../../common/index.less";
.contract-viewer {
  background: @bgBlankWhite;
  width: 1200px;
  margin: auto;
  min-width: 1160px;
  padding: 20px 20px 80px;
  margin: auto;
}
