@import 'assets/theme/color.less';
@import 'styles/common.less';
.accounts-page-container {
  h2 {
    font-size: 18px;
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
    color: @cloud-burst;
  }

  .ant-table-tbody > tr > td {
    padding-top: 24px;
    padding-bottom: 24px;
    vertical-align: top;
    &.color-blue {
      color: @mariner;
    }
  }
}
