.chain-select-container {
    margin: 16px 18px 0 18px;
}

.chain-select {
    width: 98px
}

.ant-select-open .ant-select-selection {
    box-shadow: none;
    &:focus {
        box-shadow: none;
    }
}

.ant-select-selection-selected-value {
    font-size: 11px;
}

@media (max-width: 1050px) {
    .chain-select-container {
        margin: 16px 8px 0 8px;
    }

    .chain-select {
        width: 74px
    }
}
