@import 'assets/theme/color.less';

.chain-select {
  width: 164px;
  margin-left: 10px;
  .ant-select-selection-item {
    color: @mariner !important;
  }
  .ant-select-arrow {
    color: @textContext3;
  }
  .ant-select-selector {
    border-color: @border-color1!important;
    box-shadow: none !important;
  }
  .ant-select-selector__rendered {
    line-height: 32px;
    margin: 0 16px;
  }
}

.ant-select-open .ant-select-selector {
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

.chain-select-option {
  height: 44px;
  padding: 9px 16px;
  line-height: 22px;
  font-size: 14px;
}
