.block-detail-container {
  margin-bottom: 20px;
  border: 1px solid transparent;

  .block-detail-panle {
    height: 38px;
    padding: 5px 15px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #31708f;
    background-color: #d9edf7;
  }

  .block-detail-body {
    padding: 0 15px;
    margin-bottom: 20px;

    .ant-col-3,
    .ant-col-21 {
      height: 34px;
      padding: 5px 0;
      line-height: 34px;
    }
  }

  .block-detail-footer {
    display: flex;
    justify-content: center;
  }
}
