.resource-body {
  padding-top: 50px;
}

.resource-money-market {
  padding-top: 50px;
}

@media screen and (max-width: 992px) {
  .resource-wallet {
    margin: 20px;
  }
}

@media (max-width: @smallScreenWidth) {
  .resource-money-market {
    padding-top: 0;
  }
}
