@import '../../assets/less/_variables.less';

.resource-body {
  padding-top: 50px;
}

.resource-money-market {
  background-size: 100% 100%;
  padding-top: 50px;
}

@media screen and (max-width: 992px) {
  .resource-wallet {
    margin: 20px;
  }
}
