.redeem {
    color: #fff;
    font-size: 16px;

    .ant-col-18 {
        color: #eca218;
    }

    .ant-col-14 {
        color: #eca218;
    }

    .ant-input {
        border-radius: 16px;
        border: none;
        color: #642d8e;
    }

    .ant-row-flex {
        height: 30px;
        margin-bottom: 20px;
    }

}