// @primary-color: ~'var(--@{app-prefix}-primary-color)';
// @primary-color-hover: ~'var(--@{app-prefix}-primary-color-hover)';

// @font-1: @primary-color;
// @font-2: #262626;
// @font-3: #8f97a6;
// @font-4: #000000;
// @font-5: #364153;
// @font-6: #e13d3d;
// @font-7: #faad14;
// @font-8: #f28736;
// @font-9: #52c41a;
// @font-10: #d8dce2;

// @bg-1: #f7f7f9;
// @bg-2: #ffffff;
// @bg-3: #f3f4f7;
// @bg-4: #eceef2;
// @bg-5: #dee2e8;
// @bg-6: @primary-color;
// @bg-7: #f6f7fa;
// @bg-8: #edf0fd;
// @bg-9: #d27974;
// @bg-10: #fef6e7;
// @bg-11: #d8e0ff;
// @bg-12: #4f77ff;
// @bg-withe: #fff;

// @border-1: #c5cbd5;
// @border-2: @primary-color;
// @border-3: #dee2e8;
// @border-4: #faad14;

// @shadow-1: #6a83d1;
// @shadow-2: #0000000d;

//https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

//// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }
//
//// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }
//
//// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }
//
//// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }#F7F8F9

// @import '~antd/lib/style/themes/default.less';
// @import '~antd/dist/antd.less';

// New UI start ---

@purple: #5c28a9;
@primary-blue: #266cd3;
@purpleHover: rgba(92, 40, 169, 0.8);
@purpleInputFocus: rgba(92, 40, 169, 0.3);
@blue: #235aa9;
@blueHover: #327dec;
@blueInputFocus: rgba(32, 80, 159, 0.8);
@purpleDark: #3a1884;
@purpleLight: #5e2ab1;

@bgHover: #327dec;
@bgMenuItem: #f7f8fa;
@bgBlankGrey: #f7f8f9;
@bgBlankWhite: #ffffff;
@bgMain: @primary-blue;
@bgMainHover: @blueHover;
@linkMain: @bgMain;
@linkHover: @bgMainHover;
@hoverColor: @linkHover;
@hoverTextColor: @bgBlankWhite;
@hoverColor1: #327dec;

@inputFocus: @blueInputFocus;

@bgTitle: #f7f8f9; // 用于标题栏
@textContext: #000;
@textContextWhite: #fff;
@textContextLight: #666;
@subTitle: @textContextLight;
@textContext1: #262626;
@textContext2: #595959;
@textContext3: #266cd3;

@borderColor: #e5e5e5;

@searchInputFontColor: @textContext;
@fontColorLightPurple: #c7b8cc;
// New UI end ---

@maxWidth: 1200px;
@newMaxWidth: 1000px;
@minWidth: 576px;
@mgb30: 30px; // margin-bottom: 30px;
@iconColor: #b1b1b1;

//@hoverColor: #26b7ff;

@bgColor: #f0f2f5;
@bgWhite: #fff;
@bgRed: red;
@bgPurpleDark: #39004d;
@bgPurpleLight: #ac00e6;
@bgPurpleDark01: rgba(57, 0, 57, 0.1);
@bgPurpleDark03: rgba(57, 0, 57, 0.3);
@bgPurpleDark09: rgba(57, 0, 57, 0.9);
@hoverBg: rgba(229, 240, 255, 1);

@bgBlack07: rgba(0, 0, 0, 0.7);

@cloud-burst: #1d2a51;
@scorpion: #595959;
@mariner: #266cd3;
@mine-shaft: #252525;
@alto: #d0d0d0;
@jade: #05bd72;
@sunset-orange: #ff4d4f;
@sun: #faad14;
@silver: #bfbfbf;
@gray: #858585;
@fair-pink: #ffeded;
@wild-sand: #f5f5f5;
@athens-gray: #f7f8fa;
@manatee: #8b92a3;

//@borderColor: #d9d9d9;

@bodybgColor: #fbfbfb;
@breadcrumbColor: #fdfdfd;
@headerbgColor: #001529;
@headerbgColor1: #1d2a51;
@headerbgColor2: #266cd3;
@headerbgColor3: #2d3f68;
@headerbgColor4: #e5f0ff;
//@searchInputFontColor: #c7b8cc;
//@fontColorLightPurple: #c7b8cc;

@borderWhite: #fff;

@list-border-color: #eee;
@border-color1: #266cd3;
@border-color2: #e6e6e6;

@header-height: 108px;
@header-top-height: 56px;
@page-width: 1170px;

@paddingLeftRight: 0 16px 0 16px;

@default-line-height: 64px;
@line-height1: 56px;
@line-height2: 52px;

@font-sets: 'Roboto';
@font-header-sets: 'Roboto';

@sellColor: #d34a64;
@buyColor: #05ac90;

@moduleMargin: 0 56px 30px;
@cardBodyColor: rgba(57, 0, 77, 0.3);
@cardHeaderColor: rgba(57, 0, 77, 0.6);
@cardSplitColor: rgba(255, 255, 255, 0.19);
@gold: #dd9332;
@neuterColor: #ffaf00;

@footerHeight: 174px;
@smallScreenWidth: 768px;

// Custom color
// Ant Design requires name like xxx-xxx
@primary-color: @primary-blue;
@tipColor: #999;
@cusBlack: #4c4c4c;

// Modal relative
@modalFormItemHeight: 34px;

// todo: why is the export cause problem?
// :export {
//   cardBodyColor: @cardBodyColor,
//   cardHeaderColor: @cardHeaderColor,
//   cardSplitColor: @cardSplitColor
// }

@table-row-hover-bg: '#F7F8F9';
