@import 'assets/theme/color.less';
.txs-page-container {
  padding-top: 24px;
  h2 {
    font-size: 18px;
    font-family: 'Roboto Bold';
    margin-bottom: 16px;
    color: @cloud-burst;
  }

  .before-table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    .left {
      display: flex;
      flex-direction: column;
      row-gap: 2px;
      p {
        font-family: 'Roboto';
        height: 22px;
        line-height: 22px;
        color: @scorpion;
        font-size: 14px;
      }
    }
    .right {
      padding-top: 8px;
    }
  }
  .after-table {
    margin-top: 16px;
    .ant-pagination-options {
      position: absolute;
      border: none;
      left: 0;
      margin-left: 0;
      &::before,
      &::after {
        font-size: 14px;
        margin-right: 8px;
        line-height: 32px;
      }
      &::before {
        content: 'Show';
      }
      &::after {
        content: 'records';
      }
      .ant-select-selector {
        padding: 0 23px 0 9px;
        .ant-select-selection-item {
          padding-right: 5px;
        }
      }
    }
  }
}
.txs-page-container.mobile {
  .before-table {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    .right {
      display: flex;
      padding-top: 16px;
    }
  }
  .transaction-table {
    background: white !important;
    border-radius: 4px;
  }
  .after-table {
    display: flex;
    .ant-pagination {
      height: 76px;
      width: 100%;
      justify-content: flex-start;
    }
    .ant-pagination-options {
      display: flex;
      border: none;
      align-items: center;
      top: 0;
      &::before {
        content: 'Show';
        font-size: 14px;
        margin-right: 8px;
      }
      &::after {
        content: 'records';
        font-size: 14px;
        margin-left: 8px;
      }
    }
  }
}
