.transactions-pane {
  background: @bgBlankGrey;
  .table-layer {
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .after-table {
    padding-top: 16px;
    background: @bgBlankGrey;
    display: flex;
    justify-content: center;
    .ant-pagination {
      flex: 1;
    }
    .ant-pagination-options {
      position: absolute;
      border: none;
      left: 0;
      margin-left: 0;
      &::before,
      &::after {
        font-size: 14px;
        margin-right: 8px;
        line-height: 32px;
      }
      &::before {
        content: "Show";
      }
      &::after {
        content: "records";
      }
      .ant-select-selector {
        padding: 0 23px 0 9px;
        .ant-select-selection-item {
          padding-right: 5px;
        }
      }
    }
  }
  .ant-pagination-item {
    display: none;
  }
  .page-index {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}
