.status-tag {
  color: currentColor;
  &.status-success {
    color: @jade;
  }
  &.status-failed {
    color: @sunset-orange;
  }
  &.status-pending {
    color: @sun;
  }
  &.status-notexisted {
    color: @silver;
  }
}
