@import 'assets/theme/color.less';
.resource-trading {
  position: relative;
  margin-bottom: 20px;
  .resource-action-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .resource-action-title {
      color: @cusBlack;
      font-weight: bold;
      display: inline-block;
      width: 120px;
      line-height: 16px;
      height: 16px;
    }
    .resource-action-input {
      min-width: 140px;
      flex: 1 1;
      display: inline-block;
      width: auto;
      .ant-input-number {
        width: 100%;
        color: #333333;
      }
    }
  }
  .trading-title-sell {
    color: @sellColor;
    font-size: 16px;
    font-weight: 900;
  }
  .trading-title-buy {
    color: @buyColor;
    font-size: 16px;
    font-weight: 900;
  }
}

.resource-buy-divider {
  margin: 15px 0;
}

.resource-trading-head {
  height: 44px;
  background: @bgBlankWhite;
  text-indent: 28px;
  line-height: 44px;
  color: @textContext;
  font-size: 16px;
}

.trading {
  width: 100%;
  min-width: 270px;
}

.ELF-value {
  font-size: 12px;
  color: @primary-blue;
  text-align: right;
  margin: 5px 0;
}

.trading-input {
  margin: 2px 0;
}

.ant-slider-handle {
  width: 12px;
  height: 12px;
  margin-left: -4px;
  margin-top: -4px;
}

.ant-slider-with-marks {
  margin-bottom: 16px;
}

.ElF-value {
  color: @primary-blue;
  text-align: right;
  font-size: 16px;
}

.trading-button {
  width: 100%;
  height: 28px;
  text-align: center;
  border-radius: 6px;
  color: @bgWhite;
  margin: 14px auto;
  cursor: pointer;
  &.sell-btn {
    background: @sellColor;
    border: none;
    color: @bgWhite;
    &:hover {
      background: @sellColor;
    }
  }
  &.buy-btn {
    background: @buyColor;
    border: none;
    color: @bgWhite;
    &:hover {
      background: @buyColor;
    }
  }
}

.modal-display-box {
  .ant-modal-content {
    .ant-modal-header {
      color: @textContext;
      text-align: center;
      border-bottom: 1px solid #e8e8e8;
      padding: 0 24px;

      .ant-modal-title {
        color: @textContext;
        font-size: 28px;
        line-height: 50px;
      }
    }
  }
  .ant-modal-footer {
    border: none;
  }
}

.mobile-mask {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  // todo: Make the filter work
  // filter: blur(5px);
  // &:after {
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   background: inherit;
  //   // filter: blur(2px);
  //   z-index: 101;
  // }
  .mobile-mask-text {
    color: @textContext;
    z-index: 102;
  }
}

.mobile-trading-input {
  &::placeholder {
    color: #bfbfbf;
  }
  width: 100%;
  height: 28px;
  line-height: 28px;
  border: 1px solid #d9d9d9;
  padding: 0 8px 0 8px;
  border-radius: 3px;
  -webkit-appearance: none;
}
