/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-25 16:08:05
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-07 21:23:53
 * @Description: file content
 */

.profit-item-value {
  color: @primary-color;
  font-size: 12px;
  display: inline-block;
}

.dividend-modal.ant-modal {
  width: 672px;
  border-radius: 8px;
  .ant-modal-close-icon {
    position: absolute;
    top: 17px;
    right: 16px;
  }
  .ant-modal-content {
    .ant-modal-header {
      border-bottom: 1px solid #e6e6e6;
      .ant-modal-title {
        padding: 17px 16px;
        border: 0;
      }
    }
    .ant-modal-body {
      padding: 24px 16px;
      display: grid;
      grid-gap: 16px;
      font-size: 12px;
      .profit-item-key {
        color: var(--color-font-caption, #858585);
      }
      .claim-profit-item {
        width: 100%;
        color: var(--color-font-title, #252525);
        display: grid;
        grid-template-columns: 140px 1fr 96px;
        grid-gap: 8px;
        .text-center {
          text-align: left;
        }
        .ant-btn {
          width: 96px;
          height: 24px;
          border-radius: 4px;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .ant-modal-close-icon {
    color: rgba(16, 16, 16, 1);
  }
}
