/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-25 16:08:05
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-07 21:23:53
 * @Description: file content
 */

.profit-item-value {
  color: @primary-color;
  font-size: 16px;
  display: inline-block;
}

.dividend-modal.ant-modal {
  width: 543px;
  border-radius: 4px;
  .ant-modal-content {
    .ant-modal-header {
      .ant-modal-title {
        padding-top: 30px;
        padding-bottom: 26px;
        border: none;
      }
    }
    .ant-modal-body {
      padding: 0 40px 27.5px;
      .profit-item-key {
        color: rgba(16, 16, 16, 1);
        font-size: 14px;
      }
      .claim-profit-item {
        margin: 16px auto;
        width: 100%;
        .ant-btn {
          width: 119px;
          height: 23px;
          line-height: 17px;
          border-radius: 4px;
          background-color: rgba(187, 187, 187, 1);
          color: rgba(255, 255, 255, 1);
          font-size: 12px;
        }
      }
    }
  }
  .ant-modal-close-icon {
    color: rgba(16, 16, 16, 1);
  }
}
