/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-25 16:08:05
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-09-26 19:57:11
 * @Description: file content
 */
.ant-checkbox-wrapper {
  span {
    color: #fff;
  }
}
.ant-checkbox-group {
  // display: flex;
  // justify-content: le;
  // flex-wrap: wrap;
  // width: 60%;
  // margin: 0 auto;
  text-align: left;
  // .ant-checkbox-group-item {
  //   width: 50%;
  //   margin: 0 0 10px;
  //   // overflow: hidden;
  // }
}

.ant-col.claim-profit-item {
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}
