.events-pane {
  padding: 0 0 40px;
  background: @bgBlankGrey;
  .table-layer {
    padding-top: 0;
    .ant-table-tbody > tr > td {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .after-table {
    margin-top: 16px;
    .ant-pagination-options {
      position: absolute;
      border: none;
      left: 0;
      margin-left: 0;
      &::before,
      &::after {
        font-size: 14px;
        margin-right: 8px;
        line-height: 32px;
      }
      &::before {
        content: "Show";
      }
      &::after {
        content: "records";
      }
      .ant-select-selector {
        padding: 0 23px 0 9px;
        .ant-select-selection-item {
          padding-right: 5px;
        }
      }
    }
  }
}
