.events-pane {
  padding: 0 0 40px;
  background: @bgBlankGrey;
  .table-layer {
    padding-top: 0;
    .ant-table-tbody > tr > td {
      padding-top: 24px;
      padding-bottom: 24px;
      &.color-blue {
        color: @mariner;
      }
    }
  }
  .list {
    background: white;
    padding: 8px 16px 32px;
    .row {
      display: flex;
      flex-direction: column;
      padding: 32px 0;
      border-bottom: 1px solid @border-color2;
      gap: 24px;
      > p {
        display: flex;
        flex-direction: column;
        gap: 6px;
        .label {
          font-family: "Roboto Medium";
        }
        a {
          width: 100%;
          display: block;
          flex-wrap: nowrap;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow-wrap: nowrap;
          overflow: hidden;
        }
        textarea {
          height: 206px;
        }
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border: none;
      }
    }
  }
}
