.events-pane {
  padding: 0 0 40px;
  background: @bgBlankGrey;
  .table-layer {
    padding-top: 0;
    .ant-table-tbody > tr > td {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .list {
    background: white;
    padding: 8px 16px 32px;
    .row {
      display: flex;
      flex-direction: column;
      padding: 32px 0;
      border-bottom: 1px solid @border-color2;
      gap: 24px;
      > p {
        display: flex;
        flex-direction: column;
        gap: 6px;
        .label {
          font-family: "Roboto Medium";
        }
        a {
          width: 100%;
          display: block;
          flex-wrap: nowrap;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow-wrap: nowrap;
          overflow: hidden;
        }
        textarea {
          height: 206px;
        }
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border: none;
      }
    }
  }
  .after-table {
    margin-top: 16px;
    .ant-pagination-options {
      position: absolute;
      border: none;
      left: 0;
      margin-left: 0;
      &::before,
      &::after {
        font-size: 14px;
        margin-right: 8px;
        line-height: 32px;
      }
      &::before {
        content: "Show";
      }
      &::after {
        content: "records";
      }
      .ant-select-selector {
        padding: 0 23px 0 9px;
        .ant-select-selection-item {
          padding-right: 5px;
        }
      }
    }
  }
}

.events-pane.mobile {
  .after-table {
    display: flex;
    .ant-pagination {
      height: 76px;
      width: 100%;
      justify-content: flex-start;
    }
    .ant-pagination-options {
      display: flex;
      border: none;
      align-items: center;
      top: 0;
      &::before {
        content: "Show";
        font-size: 14px;
        margin-right: 8px;
      }
      &::after {
        content: "records";
        font-size: 14px;
        margin-left: 8px;
      }
    }
  }
}
