.proposal-result-list {
  &-item {
    display: flex;
    flex-flow: row nowrap;
    .sub-title {
      display: inline-block;
      min-width: 180px;
      text-align: right;
    }
    pre.proposal-result-list-item-value {
      background-color: #eeeeee;
      max-height: 220px;
      border-radius: 5px;
      overflow: auto;
      flex-grow: 1;
      margin-bottom: 0;
    }
  }
}
.ant-modal-footer {
  text-align: center;
}
.create-proposal-modal.ant-modal-wrap,
.contract-proposal-modal.ant-modal-wrap {
  .ant-modal {
    .ant-modal-content {
      .ant-modal-header {
        padding: 16px 24px;
        border-bottom: 1px solid #f0f0f0;
        .ant-modal-title {
          padding: 0;
          border-bottom: 0;
          text-align: left;
        }
      }
    }
    .ant-modal-footer {
      padding-bottom: 10px;
      border-top: 1px solid #f0f0f0;
      .ant-btn {
        width: auto;
        display: inline-block;
      }
    }
  }
}
.contract-proposal-notice-content {
  color: #858585;
  font-size: 12px;
  div {
    line-height: 20px;
  }
  .content-item {
    display: flex;
    align-items: flex-start;

    :first-child {
      width: 4%;
    }
  }
}
.proposal-apply-tab {
  .apply-btn {
    margin-top: 16px;
    display: block;
  }
  &.ant-tabs-mobile {
    .apply-btn {
      margin: 16px auto 0;
      display: block;
    }
  }
}

.sure-modal-content {
  width: 720px;
  .ant-modal-content {
    // height: 204px;
    border-radius: 8px;
    .ant-modal-body {
      height: 100%;
      .ant-modal-confirm-body-wrapper {
        width: 100%;
        height: 100%;
        .ant-modal-confirm-body {
          margin-top: 24px;
        }
        .ant-modal-confirm-btns {
          text-align: center;
          margin-top: 56px;
          .ant-btn {
            width: 120px;
            height: 40px;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
