@import "../../assets/less/_variables.less";

.header-fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  //box-shadow: 0 2px 10px rgba(151,164,175,.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  //background-color: rgba(0, 0, 0, 0.5);
  background-color: @bgBlankWhite;
  height: @header-height;
}

.header-container {
  display: flex;
  justify-content: space-between;
  //width: @page-width;
  height: @header-height;
  margin: 0 auto;

  max-width: @maxWidth;
  padding: @paddingLeftRight;

  .aelf-menu-hidden {
    display: none;
  }

  .ant-menu {
    color: @textContext;
    background: @bgBlankWhite;
    border: none;

    .ant-menu-item {
      > a {
        color: @textContext;
      }
    }

    .ant-menu-item-group-title {
      color: @textContext;
    }

    .ant-menu-item-selected,.ant-menu-item-active,.ant-menu-submenu-active,.ant-menu-submenu-selected {
      //border-bottom: 2px solid @hoverColor;
      //border-bottom: 2px solid @hoverColor;
      border-bottom: 0;
      color: @hoverColor;
      > a {
        color: @hoverColor;
      }
      > a:hover {
        color: @hoverColor;
      }
    }

    .ant-menu-submenu-title:hover {
      color: @hoverColor;
    }

    .ant-menu-submenu-selected .ant-menu-submenu-title {
      .submenu-title-wrapper {
        display: inline-block;
        border-bottom: 2px solid @hoverColor;
      }
    }
  }

  .header-navbar {
    display: flex;
    justify-content: flex-end;
  }

  .ant-menu-item,
  .ant-menu-submenu {
    line-height: @default-line-height;
    &:hover {
      color: @hoverColor;
      //border-bottom: 2px solid @hoverColor;
      border-bottom: none;
    }
  }

  .ant-menu-horizontal {
    > .ant-menu-item {
      > a {
        display: inline-block;
        color: @textContext;
      }
    }
  }

  .ant-menu-horizontal {
    > .ant-menu-item-selected {
      > a {
        display: inline-block;
        color: @hoverColor;
        border-bottom: 2px solid @hoverColor;
      }
    }
  }

  .header-navbar-mobile-more {
    display: none;
  }
}

.ant-menu-item,
.ant-menu-submenu {
  > a {
    display: inline-block;
  }
}

.aelf-submenu-container {
  .ant-menu {
    background: @bgBlankWhite;
    color: @textContext;
  }
  .ant-menu-item-group-title {
    color: @textContext;
  }
  a {
    color: @textContext;
  }
  .ant-menu-item-selected {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }
}

.aelf-logo-container {
  width: 100px;
  height: 30px;
  margin-top: 16px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header-container {

    //.ant-menu {
    .header-navbar {
      position: fixed;
      width: 100%;
      left: -8px;
      top: 64px;
      display: flex;
      flex-direction: column;
    }

    .header-navbar {
      margin-left: 8px;
      width: 100%;
    }
    .ant-menu-item {
      line-height: 1.5;
      padding: 8px 16px;
      //line-height: 64px;
      //height: 64px;
      background: @bgBlankWhite;
      margin: 0 !important;
    }

    .ant-menu-submenu {
      background: @bgBlankWhite;
    }

    .ant-menu-inline .ant-menu-submenu-title {
      margin: 0;
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background: rgba(255, 255, 255, 0.3);
    }

    .ant-menu .ant-menu-submenu-selected {
      background: @bgBlankWhite;
    }

    .header-navbar-mobile-more {
      display: block;
      color: @hoverColor;
      font-size: 24px;
      height: 64px;
      line-height: 56px;
    }


  }

  .search-container {
    background: @bgBlankWhite;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    padding: 16px;
  }

  .aelf-submenu-container {
    .ant-menu {
      background: @bgBlankWhite;
      //color: #FFF;
    }
    //.ant-menu-item-group-title {
    //  color: #FFF;
    //}
    //a {
    //  color: #FFF;
    //}
    //.ant-menu-item-selected {
    //  background-color: rgba(255, 255, 255, 0.3) !important;
    //}
  }

}
