@import "../../assets/less/_variables.less";

.header-container {
  display: flex;
  justify-content: space-between;
  width: @page-width;
  height: @header-height;
  margin: 0 auto;

  .header-navbar {
    display: flex;
    justify-content: flex-end;
  }

  .ant-menu-item,
  .ant-menu-submenu {
    line-height: @default-line-height;
  }

  .ant-menu-horizontal {
    > .ant-menu-item {
      > a {
        display: inline-block;
      }
    }
  }
}

.ant-menu-item,
.ant-menu-submenu {
  > a {
    display: inline-block;
  }
}
