@import "../assets/less/_variables.less";

.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: @page-width;
  margin: 0 auto;
  line-height: 62px;
  padding-left: 15px;
  padding-right: 15px;

  .breadcrumb-title {
    margin: 0;
  }

  .breadcrumb-sub-title {
    color: #999;
    font-size: 16px;
    font-weight: 200;
    margin-left: 8px;
  }
}
