.trading-sell {
  .trading-title {
    color: #8c042a;
    font-size: 16px;
    font-weight: 900;
  }

  .ant-slider-track {
    background: #8c042a;
  }

  .ant-slider-dot-active {
    border-color: #8c042a;
    background: #8c042a;
  }

  .ant-slider-handle {
    border-color: #8c042a;
    background: #8c042a;
    border: solid 2px #8c042a;
  }

  .ant-slider-handle:focus {
    box-shadow: none;
  }

  .ant-slider-track:focus {
    background: #8c042a;
  }

  .ant-slider:hover .ant-slider-track {
    background: #8c042a;
  }

  .ant-slider:hover .ant-slider-handle {
    border: none;
  }

  // todo: make it align center naturally, now using ugly css code
  .ELF-value {
    .ant-spin-nested-loading {
      position: relative;
      display: inline-block;
      min-height: 30px;
    }
  }

  .ant-spin-container {
    padding: 3px;
  }
}
