.resource-market-body {
    margin: 0 160px;
}

.resource-head {
    height: 50px;
    background: linear-gradient(90deg, #1e1d6a, #21074a);
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    text-indent: 30px;
}


.resource-body {
    padding: 62px 42px;
    background: url('../../assets/images/bg_blue@1x.jpg');
    background-size: 100% 100%;
}

.menu-button {
    height: 76px;
    font-size: 22px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    line-height: 76px;
    background: #1e1d6a;
    cursor: pointer;
}

@media screen and (max-width: 992px){
    .resource-market-body  {
        margin: 20px;
    }
    .resource-body {
        padding: 0 0;
    }
}