.address-container {
  margin: 0;
  padding: 0;

  h3 {
    color: #FFF;
  }

  .address-header-container {
    margin: 0;
    padding: 0;
  }

  .header-list {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 768px){
  .address-container {
    .address-header-container {
      .ant-table-thead > tr:first-child > th:first-child {
        width: 33%;
      }
    }
  }
}
