@import "../../assets/less/_variables";

.address-container {
  h3 {
    color: @textContext;
    padding: 10px;
  }

  .address-header-container {
    margin: 0;
    padding: 0;
  }

  .header-list {
    margin-bottom: 45px;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}

.address-context {
  display: none;
}

@media screen and (max-width: 768px) {
  .address-container {
    .address-header-container {
      .ant-table-thead > tr:first-child > th:first-child {
        width: 33%;
      }
    }
  }
  .address-context {
    display: block;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
    font-size: 14px;
    word-break: break-all;
  }
  .transaction-counts {
    font-weight: 400;
    font-size: 14px;
  }
}
