/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-16 19:11:55
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-10-25 16:55:37
 * @Description: file content
 */
@clsPrefix: candidate-apply-team-info-key-in;

.@{clsPrefix}-container {
  .ant-result-title {
    color: #fff;
  }
  padding: 0 10px 50px;
  .@{clsPrefix}-no-auth {
    text-align: center;
    padding-top: 50px;
    color: #fff;
    font-size: 18px;
  }
  .@{clsPrefix}-title {
    padding: 20px 20px 20px 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 18px;
    color: #fff;
  }
  .@{clsPrefix}-form {
    width: 50%;
    margin: 0 auto;
    .ant-form-item {
      .ant-form-item-label label {
        color: #fff;
      }
    }
  }
  .@{clsPrefix}-footer {
    margin-top: 100px;
    text-align: center;
    .ant-btn + .ant-btn {
      margin-left: 100px;
    }
  }
}

.loading-container {
  .ant-spin {
    display: block;
    padding: 60px;
    margin: @moduleMargin;
    background: rgba(57, 0, 57, 0.3);
  }
}
