/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-16 19:11:55
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-09-16 19:14:02
 * @Description: file content
 */
@clsPrefix: candidate-apply-team-info-key-in;

.@{clsPrefix}-container {
  padding: 50px;
  .@{clsPrefix}-title {
    text-align: center;
    color: #fff;
    margin: 20px;
  }
  .@{clsPrefix}-form {
    width: 50%;
    margin: 0 auto;
    .ant-form-item {
      .ant-form-item-label label {
        color: #fff;
      }
    }
  }
  .@{clsPrefix}-footer {
    text-align: center;
    .ant-btn + .ant-btn {
      margin-left: 100px;
    }
  }
}
