/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-17 15:54:31
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 19:07:24
 * @Description: file content
 */
@clsPrefix: team-detail;

.@{clsPrefix} {
  color: @cusBlack;
  padding: 50px;
  .card-container {
    padding: 20px 0;
    .card-header {
      color: #000;
      font-weight: bold;
    }
    .card-content {
      background: @bgBlankGrey;
      color: @cusBlack;
      min-height: 136px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .statistical-data-container {
    background: #fff;
    border-bottom: 1px solid @borderColor;
    padding: 20px 30px;
  }
  .@{clsPrefix}-header {
    border-bottom: 1px solid @borderColor;
    margin-bottom: 0;
    .@{clsPrefix}-team-avatar-info {
      .ant-avatar-square {
        border-radius: 20px;
      }
      .@{clsPrefix}-team-info {
        display: inline-block;
        vertical-align: top;
        .@{clsPrefix}-node-name {
          color: @primary-color;
          max-width: 500px;
          font-size: 20px;
          .ant-tag {
            margin-left: 5px;
          }
        }
        .edit-btn {
          margin-left: 20px;
        }
        &-location {
          margin-right: 100px;
        }
        &-address {
          margin-bottom: 10px;
          .ant-typography {
            display: inline; // Using inline-block here will cause style problem, solve it if time permitting
            max-width: 500px;
            color: @cusBlack;
          }
        }
      }
    }
    .card-container-right {
      display: flex;
      // align-items: center;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      .ant-btn {
        display: block;
        margin-bottom: 12px;
        border: none;
        width: 78px;
        height: 26px;
        border-radius: 26px;
        font-size: 14px;
        &.vote-btn {
          background-color: @primary-color;
        }
        &.redeem-btn {
          background-color: @buyColor;
        }
      }
    }
  }
  .@{clsPrefix}-intro {
    padding-top: 0;
    margin-top: 20px;
    &-text {
      text-indent: 2em;
    }
  }
}

.card-header {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: @cusBlack;
  font-size: 18px;
}

// todo: Optimzie the way writting the css
@media (max-width: @smallScreenWidth) {
  .@{clsPrefix} {
    padding: 20px;
    .@{clsPrefix}-header {
      .card-container-left {
        padding: 0;
        .@{clsPrefix}-team-avatar-info {
          position: relative;
          display: block;
          .edit-btn {
            display: none;
          }
          .team-avatar-container {
            padding-top: 12px;
          }
          .@{clsPrefix}-team-info {
            width: 80%;
            margin-left: 10px;
            .@{clsPrefix}-node-name {
              // todo: Reorganize the html code to avoid of using absolute
              max-width: 250px;
              font-size: 16px;
              // .ant-tag {
              //   margin-left: 5px;
              // }
            }
            &-address {
              position: relative;
              display: block;
              margin-bottom: 0;
              .ant-typography {
                display: inline-block;
                max-width: 250px;
                .ant-typography-copy {
                  position: absolute;
                  top: 0;
                  right: 5%;
                  // transform: translateY(50%);
                }
              }
            }
          }
        }
      }
      .card-container-right {
        display: none;
      }
    }
  }
}
