@mgb30: 30px; // margin-bottom: 30px;
@iconColor: #b1b1b1;
@bgColor: #f0f2f5;
@borderColor: #d9d9d9;
@bgWhite: #fff;
@bodybgColor: #fbfbfb;

@header-height: 64px;
@page-width: 1170px;

@default-line-height: 64px;

@font-sets: "Helvetica Neue", Helvetica, Arial, sans-serif;
