@import "./_variables.less";

.tx-block-detail-container {
  margin-bottom: 20px;
  border: 1px solid transparent;

  .tx-block-detail-panel {
    display: flex;
    justify-content: space-between;

    height: 38px;
    padding: 5px 16px;
    font-size: 18px;
    color: @textContext;
    background-color: @bgBlankGrey;
  }

  .tx-block-detail-panel-simple {
    background: @bgBlankWhite;
    font-size: 14px;
    border-bottom: 1px solid @borderColor;
    margin: 16px 16px 0 16px;
    padding: 0;

    .title {
      font-weight: 700;
      color: @bgMain;
    }

    a {
      height: 26px;
      width: 26px;
      display: inline-block;
      text-align: center;
      line-height: 26px;
      border-radius: 3px;
      background: @bgBlankGrey;
      color: @textContext;
      transition: none;
      &:hover {
        background: @hoverColor;
        color: @textContextWhite !important;
      }
    }
  }

  .tx-block-code-like-content {
    width: 100%;
    border-radius: 3px;
    border-color: #E5E5E5;
    background: #FAFAFA;
  }

  .tx-block-detail-body {
    //padding: 16px;
    padding: 0px 16px 16px 16px;
    color: @textContext;
    background-color: @bgBlankWhite;

    //.ant-col-3,
    //.ant-col-21 {
    //  height: 34px;
    //  padding: 5px 0;
    //  line-height: 34px;
    //}
    .ant-col-6, .ant-col-18 {
      //line-height: 34px;
      padding: 5px 0;
      min-height: 34px;
      word-break: break-word;
    }

  }

  .tx-block-detail-footer {
    display: flex;
    justify-content: center;
  }

    .ant-table table {
        word-break: break-all;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 768px) {
  .tx-block-detail-container {
    .tx-block-detail-body {
      .ant-col-6, .ant-col-18 {
        height: auto;
        float: none;
        flex: none;
        padding: 0;
      }
      .ant-col-6 {
        font-style: oblique;
      }
      .ant-col-18 {
        margin: 4px 0 16px 0;
        word-break: break-all;
        width: 100%;
        font-size: 12px;
      }
    }
    .tx-block-detail-panel-simple {
      margin: 0;
    }
    .tx-block-detail-panel-simple {
      padding: 0;
    }
    .ant-row {
      padding: 8px 0 8px 0;
    }
    .title {
      font-weight: 500;
      margin: 0 0 4px 0;
    }
  }

}
