@import "./_variables.less";

.tx-block-detail-container {
  margin-bottom: 20px;
  border: 1px solid transparent;

  .tx-block-detail-panle {
    display: flex;
    justify-content: space-between;

    height: 38px;
    padding: 5px 16px;
    font-size: 18px;
    color: #FFF;
    background-color: @bgPurpleDark03;
  }

  .tx-block-detail-body {
    padding: 16px;
    color: #FFF;
    background-color: @bgPurpleDark01;

    .ant-col-3,
    .ant-col-21 {
      height: 34px;
      padding: 5px 0;
      line-height: 34px;
    }
  }

  .tx-block-detail-footer {
    display: flex;
    justify-content: center;
  }
}