@import "./_variables.less";
/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-12-07 18:46:20
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 16:46:38
 * @Description: file content
 */
// todo: use variable instead
.ant-modal .ant-modal-content {
  background: @bgWhite;

  .ant-modal-header {
    background: @bgWhite;
    text-align: center;
    border: none;
    padding: 0 50px;
    line-height: 50px;

    .ant-modal-title {
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid @borderColor;
      padding: 40px 0 20px;
    }
  }

  .ant-modal-close {
    color: @tipColor;
  }
}

/* text relative style */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bold-text {
  font-weight: bold;
}
/* text relative style end */

.card-header-icon {
  color: @primary-color;
  margin-right: 12px;
}

.text-ellipsis__simple {
  overflow: hidden;
  text-overflow: ellipsis;
}
.common-header-submenu {
  .ant-menu {
    margin-left: -10px;
  }
}

// .ant-menu-submenu-placement-rightTop is the third layer
.common-header-submenu,
.ant-menu-submenu-placement-rightTop {
  .ant-menu {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .ant-menu-item:not(:last-child) {
    margin: 0;
  }
  .ant-menu-item,
  .ant-menu-submenu-title {
    margin: 0;
    color: @scorpion !important;
    a {
      color: @scorpion !important;
    }
    &:hover {
      background-color: #f6f7fa;
      width: 100%;
    }
  }
  .ant-menu-item,
  .ant-menu-submenu > .ant-menu-submenu-title {
    height: 44px;
    line-height: 44px;
  }
  .ant-menu-item-selected,
  .ant-menu-submenu-selected {
    color: @mariner !important;
    background-color: @headerbgColor4 !important;
    a {
      color: inherit !important;
    }
    .ant-menu-submenu-title {
      color: @mariner !important;
      background-color: @headerbgColor4 !important;
    }
  }
  .ant-menu-submenu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ant-menu-submenu-expand-icon {
      transform: rotate(-90deg);
      font-size: 12px;
      margin-right: 10px;
      top: auto;
    }
  }
}

.common-select-wrapper {
  .ant-select-selection-item {
    color: @textContext3;
    font-size: 14px;
  }
  .ant-select-selection:hover {
    border-color: @border-color1;
  }
  &.ant-select-open,
  &.ant-select-focused {
    .ant-select-selection {
      border-color: @border-color1;
      box-shadow: none;
      &:focus {
        border-color: @border-color1;
      }
    }
  }
}

.common-select-option-wrapper {
  &.ant-select-dropdown-menu-item-selected {
    font-weight: 400;
    color: @hoverColor1;
    background-color: #fff;
  }
  &.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: @hoverBg;
  }
}
