/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-12-07 18:46:20
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 16:46:38
 * @Description: file content
 */
// todo: use variable instead
.ant-modal .ant-modal-content {
  background: @bgWhite;

  .ant-modal-header {
    background: @bgWhite;
    text-align: center;
    border: none;
    padding: 0 50px;
    line-height: 50px;

    .ant-modal-title {
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid @borderColor;
      padding: 40px 0 20px;
    }
  }

  .ant-modal-close {
    color: @tipColor;
  }
}

/* text relative style */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bold-text {
  font-weight: bold;
}
/* text relative style end */

.card-header-icon {
  color: @primary-color;
  margin-right: 12px;
}
