// rewrite antd components style

.ant-message {
  padding-top: 100px;
}
.ant-message-notice-content {
  padding: 18px 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  color: @scorpion;
}

.ant-btn-default {
  // background-color: @mariner;
  // color: white;
  border-radius: 2px;
  border: 1px solid @mariner;
  &:hover {
    // background-color: @blueHover;
    color: white;
    border: 1px solid @blueHover;
  }
  &[disabled] {
    background-color: @wild-sand;
    color: @silver;
    border-color: currentColor;
  }
}
.ant-btn-text {
  background-color: transparent !important;
  color: @mariner;
  &:hover {
    color: @blueHover;
  }
  &[disabled] {
    color: @silver;
  }
}

.ant-pagination {
  display: flex;
  position: relative;
  justify-content: flex-end;
  color: @scorpion;
  font-size: 14px;
  &-total-text {
    span {
      span {
        margin-left: 5px;
      }
    }
  }

  .ant-pagination-item-ellipsis,
  .ant-pagination-item-link-icon {
    color: @alto !important;
  }
  .ant-pagination > li {
    line-height: 32px;
    min-width: 32px;
    height: 32px;
    border: @alto 1px solid;
    border-radius: 2px;
    .ant-pagination-item a:hover {
      color: @bgHover;
    }
    &.ant-pagination-item-active {
      border: @mariner 1px solid;
    }
    &.ant-pagination-jump-prev-custom-icon,
    &.ant-pagination-jump-next-custom-icon {
      border: none;
    }
  }
  .ant-pagination-item-active:hover {
    background-color: @bgHover;
    opacity: 1;
  }
}

.ant-pagination-item {
  font-family: "Roboto" !important;
  font-weight: 400;
}

.mobile .ant-pagination {
  align-items: flex-end;
  .ant-pagination-item-container {
    width: 50px;
  }
}

.ant-tabs {
  color: @scorpion;
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap {
  &::after {
    width: 40px;
    height: 46px;
    box-shadow: inset -32px 0px 24px 0px rgba(255, 255, 255, 0.71);
  }
  &::before {
    width: 40px;
    height: 46px;
    box-shadow: inset 32px 0px 24px 0px rgba(255, 255, 255, 0.71);
  }
}
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav,
.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav {
  margin: 0 0 8px;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 13px 0;
  margin: 0 24px 0 0;
}

.ant-tag.unconfirmed {
  padding: 2px 8px 2px 18px !important;
  height: 24px !important;
  font-size: 12px !important;
  padding: 2px 8px 2px 18px !important;
  color: @sunset-orange !important;
  background: url("../../assets/images/bg_unconfirmed.png") no-repeat !important;
  background-size: 179px 24px !important;
}
.ant-tag.confirmations {
  padding: 2px 8px 2px 18px !important;
  background-image: url("../../assets/images/bg_confirmed.png") !important;
  background-repeat: no-repeat !important;
  background-color: @athens-gray;
  background-position: 0;
  background-size: 179px 24px !important;
}

.ant-table-thead > tr > th {
  padding: 10px 16px 10px 0 !important;
  line-height: 20px;
  font-size: 12px;
  color: @mine-shaft;
}
.ant-table-tbody > tr > td {
  padding-top: 17px;
  padding-bottom: 17px;
}
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  padding-left: 0 !important;
  padding-right: 16px !important;
  &:first-child {
    padding-left: 16px !important;
  }
}
.ant-table-column-sorter {
  height: 20px;
}

.mobile {
  .ant-table-tbody > tr > td,
  .ant-table-thead > tr > th {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.ant-select-dropdown {
  min-width: 120px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  .ant-select-dropdown-menu-item {
    padding: 9px 16px;
    color: @scorpion;
  }
  .ant-select-dropdown-menu-item:hover:not(
      .ant-select-dropdown-menu-item-disabled
    ) {
    background: #f6f7fa;
  }
  .ant-select-dropdown-menu-item-selected {
    color: @mariner;
    background: @headerbgColor4 !important;
  }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: @mariner;
  background-color: @headerbgColor4;
}

.ant-select-item {
  color: @scorpion;
}
