/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-28 18:14:15
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-07 15:05:19
 * @Description: file content
 */
// todo: There are some code that has nothing to do with theme, consider to seperate them
// todo: use variable instead
.ant-modal-header {
  background: @bgWhite;
  color: #fff;
  text-align: center;
  border: none;
  height: 50px;
  padding: 0;
  line-height: 50px;

  .ant-modal-title {
    color: #fff;
    font-size: 28px;
    line-height: inherit;
  }
}
.ant-modal-content {
  background: @bgWhite;
  .ant-modal-close {
    color: #fff;
  }
}

.primary-color {
  color: @primary-color;
}
