@import "../../../../common/index.less";
.account-info-container {
  padding: 20px 20px 80px;
  min-width: 1160px;
  background: @bgBlankWhite;
  width: 1200px;
  margin: auto;
}
.address-container {
  display: flex;
  align-items: baseline;

  .ant-typography {
    margin-bottom: 0;
  }

  .address-qrcode {
    margin-left: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}
