.address-container {
  display: flex;
  align-items: baseline;
  .ant-typography {
    margin-bottom: 0;
  }

  .address-qrcode {
    margin-left: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}
