@import "../../assets/less/_variables.less";

.footer {
  text-align: center;
  background-color: @headerbgColor;
  .footer-logo {
    margin-bottom: @mgb30;
  }
  .footer-links-container {
    margin-bottom: @mgb30;

    .ant-btn {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 0 10px;
      color: @iconColor;
      background-color: @bgColor;
      border-color: @bgColor;

      &:hover {
        background-color: @bgWhite;
      }
    }
  }
}
