.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footerHeight;
  text-align: center;
  background: url('../../assets/images/bg_purple_darker@1x.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;

  .footer-container {
    margin: auto;
    max-width: @maxWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 88px;
  }

  .footer-logo {
    text-align: left;
    //margin-bottom: @mgb30;
  }
  .footer-links-container {
    //margin-bottom: @mgb30;
    // float: right; // todo: why is float didn't work?
    position: absolute;
    right: 20px;
    .ant-btn {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 10px 10px 0 10px;
      color: @iconColor;
      //background-color: @bgColor;
      background-color: #fff;
      border-color: @bgColor;

      &:hover {
        background-color: @bgWhite;
      }
    }
  }
}
@media (max-width: 768px) {
  .footer {
    .footer-container {
      min-height: 180px;
    }
  }
}
