@import 'assets/theme/color.less';
@import 'styles/common.less';
.token-info-container.main-container {
  background: @bgBlankWhite;
  width: 1200px;
  min-width: 1160px;
  padding: 20px 20px 80px;
  margin: auto;
}
