.copy-list-item-wrapper {
  .copy-list-value {
    margin-left: 16px;
    color: #266cd3;
  }
  .ant-btn-circle {
    border: none;
    background-color: transparent;
    .anticon {
      color: #266cd3;
    }
  }
}
