@import "../../assets/less/_variables.less";

.search-container {
  display: flex;
  align-items: center;


  .anticon-close-circle {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    font-size: 12px;

    &:hover {
      color: #999;
    }
    &:active {
      color: #666;
    }
  }

  .header-search {
    background: rgba(255, 255, 255, 0.15);
    height: 38px;
    min-height: 38px;
    border-radius: 38px;
    border: 1px solid @borderColor;

    width: 300px;
    .search-icon {
      color: #fff;
    }
    .ant-input {
      background-color: transparent;
      border: none;
      outline: none;
      color: @searchInputFontColor;
      border-radius: 20px;
      //color: #fff;

      &:hover,
      &:focus {
        border: none;
      }
    }
  }

  .search-icon-container {
    color: #FFF;
    display: inline-block;
    height: 40px;
    width: 41px;
    //background: rgba(38, 183, 255, 1);
    background: @bgMain;
    margin: 0 0 0 22px;
    border-radius: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 19px;
    cursor: pointer;

    :active {
      //background: rgba(38, 183, 255, 0.8);
      opacity: 0.9;
    }
  }
  .search-icon {
    transform: scaleX(-1);
  }

}
