.contracts-page-container {
  h2 {
    font-size: 18px;
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
    color: @cloud-burst;
  }

  table {
    .ant-tag {
      display: flex;
      justify-content: center;
      border: none;
      padding: 2px 0;
      width: 60px;
      line-height: 20px;
      font-size: 12px;
      &.user {
        background: #e6f8f0;
        color: @jade;
      }
      &.system {
        background: #fef6e7;
        color: @sun;
      }
    }
  }
}
