.event-item {
  textarea {
    padding: 8px 12px;
    color: @scorpion;
    margin-bottom: 20px;
    background: @athens-gray;
    border-radius: 4px;
    height: 126px;
    padding: 8px 12px;
    border: none;
    line-height: 22px;
    &:disabled {
      color: @scorpion;
      opacity: 1;
      -webkit-text-fill-color: @scorpion;
    }
  }
  button {
    width: 104px;
    &.ant-btn-text {
      width: fit-content;
      padding: 0;
    }
  }
}
