.ep-pagination {
  @apply flex justify-between items-center p-4;
  .submenu-right-arrow {
    pointer-events: none !important;
    svg {
      @apply w-4 h-4;
    }
  }
  .ant-select {
    @apply mx-2 w-auto  !important;
    .ant-select-selector {
      @apply border py-2 rounded border-D0 flex items-center !important;
      .ant-select-selection-item {
        @apply pe-5 font-normal text-base-100 leading-5 text-xs;
      }
    }
  }
  .ep-pagination-right {
    @apply flex items-center;
    .ant-pagination-simple-pager {
      @apply hidden;
    }
    .ant-btn-primary {
      @apply rounded !important ;
    }
    .pagination-first {
      .ant-btn-primary.ant-btn-background-ghost:disabled {
        @apply bg-F7 border-D0 text-base-200 !important;
      }
    }
    .pagination-last {
      .ant-btn-primary.ant-btn-background-ghost:disabled {
        @apply bg-F7 border-D0 text-base-200 !important;
      }
    }
    .pagination-first>.first-button,.pagination-last>.last-button {
      @apply border-link text-link hover:bg-32 hover:border-32 hover:text-white !important;
    }

    .pagination-prev,.pagination-next {
      .anticon {
        @apply text-xs !important;
      }
      .active-icon {
        svg {
          @apply text-link;
        }
      }
      .disabled-icon {
        svg {
          @apply text-base-200;
        }
      }
      .ant-btn-primary:disabled {
        @apply bg-F7 border-D0 text-base-200 !important;
        .active-icon {
          svg {
            @apply text-base-200;
          }
        }
      }
    }
    .pagination-next {
      .ant-btn-primary:disabled {
        @apply bg-F7 border-D0 text-base-200 !important;
      }
    }
    
    .pagination-prev,.pagination-next {
      @apply h-8 rounded-lg mr-0;
    }
    .prev,.next {
      box-shadow:  none;
      @apply flex justify-center items-center h-8 rounded px-2 border border-link hover:bg-32 hover:border-32 !important;
    }
    .prev:hover,.next:hover {
      .active-icon {
        svg {
          @apply text-white;
        }
      }
    }
    .ant-pagination-disabled {
      @apply bg-F7 !important;
      .prev:hover,.next:hover {
        @apply bg-F7  bg-F7 border-D0 !important;
        cursor: auto;
      }
    }
    .pagination-page {
      box-sizing: border-box;
      @apply border h-8 mx-2 border-D0 bg-F7 rounded px-2 py-1.5;
    }
  }
}

.ep-pagination-mobile {
  @apply flex items-start flex-col;
  .ep-pagination-left {
    @apply mb-3;
  }
}