.select-button {
    margin-left: 50px;
    position: absolute;
    z-index: 1;
    top: 40px;
}


.select-button-style {
    width: 78px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    border-radius: 15px;
    cursor: pointer;
    float: left;
    margin-right: 20px;
    text-align: center;
}

