.select-button {
  margin-left: 74px;
  // position: absolute;
  overflow: hidden;
}

.select-button-style {
  min-width: 78px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  border-radius: 15px;
  cursor: pointer;
  float: left;
  margin-right: 20px;
  text-align: center;
}

@media (min-width: 1600px) {
  .ant-col-xxl-16 {
    margin-left: 40px;
  }
}
