@menuBtnActiveColor: rgba(255, 255, 255, 0.25);

.resource-currency-chart {
  margin-bottom: 40px;
  .resource-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .time-button {
    margin-left: 10px;
    &.ant-btn-round.ant-btn-sm:not(.ant-btn-primary) {
      background-color: @bgBlankWhite;
    }
  }
  .ant-divider.ant-divider-horizontal {
    margin: 0;
    margin-top: 20px;
  }
}


@media (min-width: 1600px) {
  .ant-col-xxl-16 {
    margin-left: 40px;
  }
}

@media (max-width: @smallScreenWidth) {
  .resource-currency-chart {
    overflow: scroll;
    margin-bottom: 20px;
  }

  .select-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0; // Remove default style
  }
}
