.address-bread {
  display: flex;
  flex-flow: row nowrap;;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  .breadcrumb-title>h2{
    display: inline-block;
  }
  .ant-breadcrumb {
    span {
      font-size: 16px;
    }
  }
  .sub-title {
    color: #666;
    font-size: 16px;
    font-weight: 200;
  }
}
.address-bread-divider.ant-divider {
  margin-top: 5px;
  margin-left: -4%;
  width: 108%;
}
