/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-10-23 15:20:28
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-11-06 20:53:15
 * @Description: file content
 */
@import '../../assets/less/_variables';
@modalFormItemHeight: 34px;

// remove default style
p {
  margin-bottom: 0;
}

h2,
h3 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

// common style selector
.card-container {
  margin-bottom: 20px;
  padding: 20px 30px;
  //background: rgba(57, 0, 57, 0.3);
  background: @bgBlankWhite;
  overflow: hidden;
}

.remove-antd-tabs-default-style {
  .ant-tabs-bar {
    border-bottom: 0 !important;
    margin: @moduleMargin;
    .ant-tabs-nav-wrap {
      .ant-tabs-tab-active {
        color: #fff;
      }
      .ant-tabs-ink-bar {
        display: none !important;
      }
    }
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-item-value {
  color: #fff;
  width: 600px;
  display: inline-block;
}

.node-name-in-table {
  display: inline-block;
  .ellipsis;
}

// specific for current page
.vote-container {
  padding: 20px 0;
  .ant-tabs-tab {
    &:hover > a {
      color: #40a9ff !important;
    }
    color: #fff;
    &.ant-tabs-tab-active,
    &.ant-tabs-tab-active > a {
      color: #40a9ff !important;
    }
  }
}

.vote-container-simple {
  padding: 0 !important;
  margin: 25px auto 25px auto !important;
}

.secondary-level-nav {
  margin: @moduleMargin;
  .remove-antd-tabs-default-style;
  .ant-radio-wrapper {
    color: @textContext;
  }
  .ant-tabs-bar {
    .card-container;
  }
}

@media (max-width: @smallScreenWidth) {
  .secondary-level-nav {
    margin: 0 5px 16px;
  }
}

.node-list,
.my-vote-records {
  &-header {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    overflow: hidden;
    .ant-input-search {
      width: 200px;
      float: right;
    }
    .node-color-intro-item {
      margin-left: 20px;
      font-size: 15px;
      color: lightgray;
      &:before {
        display: inline-block;
        margin-right: 5px;
        border-radius: 50%;
        content: '';
        width: 10px;
        height: 10px;
        background: lightgreen;
      }
      &:first-child:before {
        background: lightcoral;
      }
    }
  }
}

.ant-modal {
  text-align: center;
  overflow: hidden;
  color: #fff;
  &.plugin-lock-modal {
    .ant-modal-body {
      padding: 50px;
      color: #fff;
    }
    .ant-modal-footer {
      .ant-btn:first-child {
        display: none;
      }
    }
  }
  &.vote-confirm-modal {
    .ant-modal-body {
      padding: 30px 30px 10px;
      .form-item-label {
        text-align: right;
      }
      // todo: Is the code about form-item-xxx useless now?
      .form-item-value {
        text-align: left;
        text-indent: 10px;
      }
    }
    .ant-modal-footer button + button {
      margin-left: 50px;
    }
  }

  .ant-form-item {
    text-align: left;
    .ant-form-item-label label {
      color: #fff;
    }
    .ant-input-affix-wrapper {
      width: auto;
    }
    .ant-input {
      width: auto;
    }
  }

  .ant-slider-mark-text {
    color: #fff;
  }
  span.ant-radio + * {
    color: #fff;
  }
  .ant-modal-content {
    text-align: center;
    .ant-modal-header {
      padding: 10px;
      height: auto;
    }
    .ant-modal-footer {
      text-align: center;
      padding-bottom: 20px;
    }
  }

  .ant-tabs {
    label {
      color: #ccc;
      &:hover {
        //color: #1890ff;
        color: @hoverColor;
        cursor: pointer;
      }
    }
    .ant-tabs-tab-active {
      label {
        color: #fff;
      }
    }
  }
  .remove-antd-tabs-default-style;
}

.text-wrap-container {
  text-align: left;
  white-space: pre-line;
}

// todo: Consider to using a more proper name to instead table-btn
.table-btn {
  border: none;
  width: 84px;
  height: 32px;
  border-radius: 16px;
  &.ant-btn-primary[disabled] {
    background-color: #f5f5f5 !important;
  }
  &.vote-btn {
    //background-color: @buyColor;
    background-color: @bgMain;
    &:hover {
      background: @bgMainHover;
    }
  }
  &.redeem-btn {
    background-color: @neuterColor;
  }
}

// todo: Consider to write the code myself rather than modify antd's component
.ant-modal {
  .ant-form {
    width: 70%;
    margin: 0 auto;
    .ant-form-item {
      text-align: center;
      height: @modalFormItemHeight;
      margin-bottom: 24px;
      &.form-item-with-extra {
        position: relative;
        .form-item-extra {
          position: absolute;
          right: 0;
          top: -18px;
          color: #ccc;
          font-size: 13px;
        }
      }
      // Used to realize unfixed height
      .ant-form-item-control-wrapper {
        height: 100%;
        .ant-form-item-control {
          height: 100%;
          .ant-form-item-children {
            display: block;
            line-height: normal; // Remove default style
          }
        }
      }
      .ant-form-item-label,
      .form-item-value {
        font-size: 14px;
        text-align: center;
        color: #000;
        background: #fff;
        line-height: @modalFormItemHeight;
        overflow: hidden;
      }
      .ant-form-item-label {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        label {
          color: #000;
        }
      }
      .form-item-value,
      .ant-input {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 0; // Remove default style
        border-bottom-left-radius: 0; // Remove default style
        width: 100%;
        height: @modalFormItemHeight;
        text-align: center;
      }
      .ant-calendar-picker {
        width: 100%;
        > div {
          height: @modalFormItemHeight;
        }
      }
    }
  }
  .ant-modal-footer {
    border: none;

    .ant-btn {
      width: 320px;
      &:first-child {
        display: none;
      }
    }
  }
}

// todo: Limit the work range to certain item such as the Calendar inner Modal
.ant-calendar-picker-container {
  .ant-calendar {
    width: 450px;

    .ant-calendar-disabled-cell.ant-calendar-selected-day
      .ant-calendar-date::before {
      left: 18px;
    }
  }
}

// todo: Centralized manage the page body's margins
@media (max-width: @smallScreenWidth) {
  .card-container {
    padding: 20px;
  }
}
