.tokens-container.tokens-pane {
  padding-top: 17px;
  .ant-table-wrapper {
    min-width: 404px;
  }
  .before-table {
    padding-left: 32px;
    color: @gray;
    margin-bottom: 8px;
  }
  .after-table {
    margin: 0 16px 16px;
  }
}
