.contract-viewer-header {
  margin-bottom: 24px;
  &-desc {
    display: flex;
    flex-flow: row nowrap;
    &-item {
      color: #000000;
      display: inline-block;
      >div {
        display: inline-block;
      }
    }
    &-item:first-child {
      margin-right: 60px;
    }
  }
}
