@import "../../../../assets/less/_variables";

.my-vote-records-section {
  border-top: 25px solid @bgBlankGrey;
  padding: 0 16px;
}

.my-vote-records-header {
  background: @bgBlankWhite;
  border-bottom: 1px solid @borderColor;
  margin: 0 0 24px 0;
  color: @textContext;
}
