.transfers-pane {
  background: @bgBlankGrey;
  .table-layer {
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    tbody {
      .color-blue {
        color: @mariner;
      }
      .txn-hash {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @mariner;
      }
      .method {
        width: 100px;
        height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #ebebeb;
        padding: 4px 8px;
        text-align: center;
      }
      .from {
        position: relative;
        a {
          display: inline-block;
          white-space: nowrap;
        }
        svg {
          padding: 2px;
        }
        .ant-tag {
          display: inline-block;
          position: absolute;
          top: -1px;
          right: -8px;
          width: 40px;
          line-height: 20px;
          border-radius: 2px;
          text-align: center;
          padding: 2px 0;
          border: none;
          margin: 0;
          &.in {
            background: #e6f8f0;
            color: @jade;
          }
          &.out {
            background: @fair-pink;
            color: @sunset-orange;
          }
        }
      }
      .to {
        display: block;
        width: 150px;
        svg {
          padding: 2px;
        }
      }
      .token {
        display: flex;
        align-items: center;
        img {
          margin-right: 2px;
        }
        .default-icon {
          display: inline-block;
          width: 22px;
          height: 22px;
          line-height: 22px;
          border-radius: 50%;
          font-size: 12px;
          text-align: center;
          background: #f7f8f9;
          border: 1px solid #c5cbd5;
          margin-right: 2px;
        }
      }
    }
  }
  .after-table {
    background: @bgBlankGrey;
  }
}
