@import "./assets/less/_variables.less";

html,
body,
#app {
  height: 100%;
}
body {
  font-family: @font-sets;
  margin: 0;
  padding: 0;
}

.hide {
  display: none !important;
  visibility: hidden;
  height: 0;
}


.ant-list-split .ant-list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.tip-color {
  color: #ccc;
}
