@import "./assets/less/_variables.less";
@import "./pages/Proposal/index.less";

html,
body,
#app {
  height: 100%;
}
body {
  font-family: @font-sets;
  margin: 0;
  padding: 0;
}

.hide {
  display: none !important;
  visibility: hidden;
  height: 0;
}

.ant-list-split .ant-list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.tip-color {
  color: @tipColor;
}

.buy-color {
  color: @buyColor;
}

.sell-color {
  color: @sellColor;
}

// todo: Instead the style code used in page Vote
.modal-form-item {
  font-size: 14px;
  text-align: center;
  color: #000;
  background: #fff;
  height: 34px;
  line-height: 34px;
  border-radius: 16px;
  margin-bottom: 16px;
  overflow: hidden;
}

// todo: We can also realize the function using HOC, but it's seems that using css is better

@media (max-width: @smallScreenWidth) {
  .has-mask-on-mobile {
    position: relative;
    &:before {
      content: "View More On The PC";
      position: absolute;
      z-index: 100;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      // todo: Make the filter work
      // filter: blur(5px);
      // &:after {
      //   content: '';
      //   width: 100%;
      //   height: 100%;
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   background: inherit;
      //   // filter: blur(2px);
      //   z-index: 101;
      // }
      // .mobile-mask-text {
      //   color: #fff;
      //   z-index: 102;
      // }
    }
  }
}

.ant-btn-round.ant-btn-sm {
  height: 20px;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 20px;
  background-color: #4285f4; // todo: Centralized manage antd's theme color
}

.update-btn {
  background: none;
  border: none;
  color: #ccc;
  font-size: 20px;
  &:hover,
  &:focus {
    background: none;
    border: none;
    &:after {
      display: none; // Remove antd's default style
    }
  }
  &:focus {
    color: #ccc;
  }
  &:hover {
    color: @primary-color;
  }
}

.ant-tooltip-inner {
  color: #ccc;
}

// todo: Use css to unify the modal's style
// modal style
.md-modal {
  width: 640px;
}

/* header menu rewrite start */
.ant-menu-item:active,
.ant-menu-submenu-title:active {
  background: @bgBlankWhite;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: none;
}

.ant-menu-item-selected,
.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover {
  color: @hoverColor;
}

.ant-menu-submenu-inline
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow:before {
  background: @hoverColor;
}

.ant-menu-submenu-inline
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow:after {
  background: @hoverColor;
}
/* header menu rewrite end */

// .ant-menu-horizontal:not(.ant-menu-dark) {
//   .ant-menu-item-active:after,
//   .ant-menu-item-open:after,
//   .ant-menu-item-selected:after,
//   .ant-menu-item:hover:after,
//   .ant-menu-submenu-active:after,
//   .ant-menu-submenu-open:after,
//   .ant-menu-submenu-selected:after,
//   .ant-menu-submenu:hover:after {
//     border-bottom: 2px solid transparent; // 因为antd v4默认会有个蓝色底
//   }
// }
