.signup-login-content {
  .login-by-input-btn {
    line-height: 48px;
    font-size: 16px;
    border-radius: 24px;
    margin-bottom: 24px;
  } 
}

.ant-modal.portkey-ui-common-modal, .ant-modal.portkey-ui-common-modals {
  .ant-modal-header {
    .ant-modal-title {
      border-bottom: none !important;
    }
  }

  .ant-modal-content {
    text-align: left !important;
  }

  .ant-btn-default:hover {
    color: #4c8ce0 !important;
  }
}