.signup-login-content {
  .login-by-input-btn {
    line-height: 48px;
    font-size: 16px;
    border-radius: 24px;
    margin-bottom: 24px;
  } 
}

.aelf-web-login.aelf-extra-wallets .plugin-entry .icon.elf {
  background-image: url("./assets/images/footer_aelf_test.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}