.token-tags {
  .tags-wrap {
    max-height: 96px;
    overflow: hidden;
    &.more {
      max-height: fit-content;
    }
    .tags-container {
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-wrap: wrap;
      gap: 12px 8px;
      .ant-tag {
        margin: 0;
        height: 24px;
        padding: 1px 8px;
        background: @bgMenuItem;
        color: @scorpion;
        span {
          margin-left: 4px;
          color: @gray;
        }
      }
    }
  }
  .anticon.more {
    transform: rotate(180deg);
  }
}
