/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-16 16:54:37
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-10-28 20:15:42
 * @Description: file content
 */
@clsPrefix: candidate-apply;

.@{clsPrefix}-container {
  padding: 50px;
  .@{clsPrefix}-title {
    text-align: center;
    color: #fff;
    margin: 20px;
  }
  .@{clsPrefix}-form {
    width: 50%;
    margin: 0 auto;
    .ant-form-item {
      .ant-form-item-label label {
        color: #fff;
      }
    }
  }
  .@{clsPrefix}-footer {
    text-align: center;
    &-cancel-btn {
      margin-right: 100px;
    }
  }
}
