/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-16 16:54:37
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-11-05 17:05:46
 * @Description: file content
 */
@clsPrefix: candidate-apply;

// todo: Use common component Card instead
.@{clsPrefix}-container {
  padding: 0 0 50px 0;
  .@{clsPrefix}-title {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    color: #fff;
    background: @cardHeaderColor;
  }

  .@{clsPrefix}-body {
    padding: 50px;
    .@{clsPrefix}-form {
      width: 50%;
      margin: 0 auto;
      .ant-form-item {
        .ant-form-item-label label {
          color: #fff;
        }
        .list-item-value {
          color: @gold;
        }
      }
    }
  }

  .@{clsPrefix}-footer {
    text-align: center;
    &-cancel-btn {
      margin-right: 100px;
    }
  }
}

@media (max-width: @smallScreenWidth) {
  .@{clsPrefix}-container {
    .@{clsPrefix}-body {
      padding: 30px;
      .@{clsPrefix}-form {
        width: 95%;
      }
    }

    .@{clsPrefix}-footer {
      &-cancel-btn {
        margin-right: 20px;
      }
    }
  }
}
