/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-09-28 18:14:15
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 17:21:56
 * @Description: file content
 */
@cardSplit: 1px solid rgba(57, 0, 57, 0.3);

// todo: Unify the way write css selector
.my-wallet-card {
  margin-bottom: 20px;
  // padding: 20px 30px;
  background: @bgBlankWhite;
  overflow: hidden;

  &-header {
    background: @bgBlankWhite;
    padding: 30px 57px 20px;
    overflow: hidden;
    border-bottom: 1px solid @borderColor;
    &-title {
      display: inline-block;
      vertical-align: middle;
      color: @textContext;
    }
    &-sync-btn {
      float: right;
      color: @linkMain !important;
      &:hover {
        color: @linkHover;
      }
    }
  }
  &-body {
    display: flex;
    &-wallet-title {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 18px 0px;
      margin: 0 57px;
      font-size: 14px;
      line-height: 14px;
      border-bottom: 1px solid @borderColor;
      &-name {
        color: @textContext;
        margin-right: 20px;
      }
      &-key {
        font-weight: 500;
        margin-right: 8px;
      }
      &-blank {
        margin: 0 12px;
      }
      &-value {
      }
    }
    &-wallet-content {
      flex: 4;
      padding: 10px 10px 0px 57px;
      color: @textContext;
      > li {
        display: inline-block;
        width: 33%;
        margin: 5px 0;
        .item-value {
          margin-left: 3px;
          color: @bgMain;
        }
      }
      &-withdraw-btn.ant-btn.ant-btn-sm {
        margin-left: 10px;
        background-color: @buyColor;
      }
    }
  }
}

.ant-modal-confirm-body .ant-modal-confirm-title {
  color: @textContext;
}

// todo: Use rem instead
@media (max-width: @smallScreenWidth) {
  .my-wallet-card {
    &-body {
      display: block;
      padding: 12px;
      &-wallet-title {
        padding-bottom: 10px;
        border-right: 0;
        border-bottom: @cardSplit;
      }
      &-wallet-content {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        > li {
          .item-type {
            display: block;
            min-height: 45px;
          }
          .item-value {
            display: block;
            min-height: 45px;
          }
          .item-extra {
            display: none;
          }
        }
      }
    }
  }
}

.wallet-dividends {
  display: inline-block;
}
