/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-12-09 14:57:57
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 15:17:21
 * @Description: file content
 */
.apply-node-modal.ant-modal {
  text-align: center;
  overflow: hidden;
  .ant-modal-close-x {
    color: rgba(16, 16, 16, 1);
  }
  .ant-modal-footer {
    padding-bottom: 53px;
    .ant-btn {
      width: 182px;
      height: 37px;
      border-radius: 4px;
      background-color: rgba(120, 102, 222, 1);
    }
  }
  .ant-modal-content {
    .ant-modal-header {
      .ant-modal-title {
        line-height: 23px;
        border: none;
        padding-top: 30px;
      }
    }
    .ant-modal-body {
      padding: 16px 60px 24px 31px;
    }
  }

  .ant-form {
    width: 100%;
    .ant-form-item {
      border: none;
      .ant-form-item-label {
        label {
          color: rgba(187, 187, 187, 1);
        }
      }
      .ant-form-item-control {
        line-height: 20px;
        margin-left: 20px;
        .list-item-value {
          color: rgba(16, 16, 16, 1);
        }
      }
    }
    .candidate-admin {
      .ant-form-item-label {
        label {
          color: rgba(16, 16, 16, 1);
        }
      }
      .ant-form-item-control {
        display: flex;
        .ant-form-item-control-input-content {
          display: flex;
          input {
            text-align: left;
          }
        }
      }
      &-tip {
        margin-left: 8px;
        line-height: 32px;
      }
    }
  }

  .tip-color {
    text-align: left;
    margin-left: 20px;
    strong {
      color: black;
    }
    .main-tip {
      text-align: center;
    }
  }
}
