/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-12-09 14:57:57
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 15:17:21
 * @Description: file content
 */
.apply-node-modal.ant-modal {
  .ant-form {
    .ant-form-item {
      border: none;
      .ant-form-item-label {
        label {
          color: @cusBlack;
          font-weight: bold;
        }
      }
      .ant-form-item-control {
        line-height: @modalFormItemHeight;
        .list-item-value {
          color: @primary-color;
        }
      }
    }
  }
}
