@import "../../../../common/index.less";
@import "../../../../assets/less/_variables.less";
.contract-list {
  padding: 20px 20px 0;
  min-width: 1160px;
  background: @bgBlankWhite;
  width: 1200px;
  height: 1167px;
  margin: auto;
  &-search {
    > h2 {
      display: inline-block;
    }
    &-input {
      float: right;
      width: 300px;
    }
  }
  &-pagination {
    text-align: right;
    margin-top: 24px;
  }
  &-total {
    color: #000000;
  }
}
