@clsPrefix: node-table;

.ant-table-pagination {
  text-align: right !important;
}

.@{clsPrefix} {
  &-header {
    color: #fff;
  }

  .ant-progress-text {
    color: #fff;
  }
  .ant-progress-inner {
    background: none;
    border: 1px solid #fff;
  }
}
