/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-12-07 17:42:20
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-07 18:50:20
 * @Description: file content
 */
@clsPrefix: node-table;

.ant-table-pagination {
  text-align: right !important;
}

.@{clsPrefix} {
  &-header {
    border-bottom: 1px solid @borderColor;
  }

  .ant-progress-text {
    color: #fff;
  }
  .ant-progress-inner {
    background: none;
    border: 1px solid #fff;
  }
  .node-table-wrapper {
    margin: 20px 16px 0;
  }
  &-btn-group {
    // display: flex;
    // justify-content: space-around;
    // // flex-wrap: wrap;
    // // todo: Write in a more compatible way
    // min-width: 300px;
    > button {
      display: inline-block;
    }
    > button:first-child {
      margin-right: 20px;
    }
  }
}

// todo: Realize the mask on mobile
@media (max-width: @smallScreenWidth) {
  .ant-table-thead > tr > th:last-child,
  .ant-table-tbody > tr > td:last-child {
    // min-width: 100px;
    // display: none;
  }
}
