.organization-list {
  &-list {
    min-height: 200px;
  }
  &-filter {
    // .ant-form-item {
    //   display: flex;
    //   flex-flow: row wrap;
    //   &-label {
    //     min-width: 140px;
    //   }
    //   &-control-wrapper {
    //     min-width: 140px;
    //   }
    // }
    .ant-input-search {
      width: 360px;
      .ant-btn {
        background-color: #fff;
        border: 1px solid #d9d9d9;
      }
    }
  }
}
.organization-list-modal.ant-modal {
  .ant-modal-content {
    text-align: initial;
  }
}
