.vote-inside {
    color: #fff;
    font-size: 16px;

    .ant-select {
        width: 100%;
        border-radius: 16px;
        text-align: right;

        .ant-select-selection-selected-value {
            float: right;
            color: #642d8e;
        }

        .ant-select-selection {
            border-radius: 16px;
        }
    }

    .ant-row-flex {
        height: 30px;
        margin-bottom: 20px;
    }

    .ant-col-18 {
        color: #eca218;
    }

    .ant-col-14 {
        color: #eca218;
    }

    .ant-input-group {
        border-radius: 16px;
        overflow: hidden;
    }

    .ant-input-group-addon {
        color: #642d8e;
        background: #fff;
        border: none
    }

    .ant-input {
        border-radius: 16px;
        border: none;
        color: #642d8e;
    }

    .ant-col-16 {
        color: #eca218;
    }
}

.vote-step1-button {
    text-align: right;
}