/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-12-09 14:57:57
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-09 15:17:21
 * @Description: file content
 */
@import 'assets/theme/color.less';

.apply-node-modal.ant-modal {
  .ant-form {
    .ant-form-item {
      border: none;
      .ant-form-item-label {
        label {
          color: @cusBlack;
          font-weight: bold;
        }
      }
      .ant-form-item-control {
        line-height: @modalFormItemHeight;
        .list-item-value {
          color: @primary-color;
        }
      }
      // &-with-help {
      //   margin-bottom: 45px;
      // }
    }
    .candidate-admin {
      .ant-form-item-control {
        display: flex;
        // align-items: center;
        .ant-form-item-control-input-content {
          display: flex;
          align-items: center;
        }
        // .ant-form-item-explain {
        //   min-height: 22px;
        //   margin-top: -2px;
        // }
      }
      &-tip {
        margin-left: 8px;
      }
    }
  }
}
